Repository worgarside/home-assistant, pull requests merged in 2023-04, with the labels that each got.

#91 🔄 synced file(s) with worgarside/github-config-files
  .github/labeler.yml
  .github/repo_labels.yml
  .github/workflows/dependabot_auto_merge.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/manage_repo_labels.yml
  .github/workflows/pr_autoupdate.yaml
  .pre-commit-config.yaml
  .pylintrc
  addons/rss_log_feed/config.yaml
  addons/yas_209_dlna_bridge/config.yaml
  config/includes/automation/critical.yaml
  config/includes/automation/devices.yaml
  config/includes/automation/financial.yaml
  config/includes/automation/hue_remotes.yaml
  config/includes/automation/input_boolean.yaml
  config/includes/automation/input_button.yaml
  config/includes/automation/input_entities.yaml
  config/includes/automation/input_text.yaml
  config/includes/automation/internal_services.yaml
  config/includes/automation/notifications.yaml
  config/includes/automation/restful_sensors.yaml
  config/includes/automation/scheduled.yaml
  config/includes/automation/sun.yaml
  config/includes/automation/webhooks.yaml
  config/includes/automation/wills_room.yaml
  config/includes/binary_sensor.yaml
  config/includes/cover.yaml
  config/includes/input_number.yaml
  config/includes/input_select.yaml
  config/includes/input_text.yaml
  config/includes/media_player.yaml
  config/includes/mqtt.yaml
  config/includes/scripts.yaml
  config/includes/sensors.yaml
  config/includes/templates.yaml
  config/includes/variable/netgear.yaml
  config/includes/variable/variables.yaml
  config/lovelace/cards/floorplan_first_floor.yaml
  config/lovelace/cards/floorplan_ground_floor.yaml
  config/lovelace/decluttering_templates.yaml
  config/lovelace/views/home.yaml
  config/lovelace/views/london.yaml
  config/lovelace/views/media_dashboard.yaml
  config/lovelace/views/mobile_dashboard.yaml
  config/lovelace/views/system_health.yaml
Labels: sync, keep-updated, github-actions

#93 Add SonarCloud runner
  .github/workflows/actionlint.yml
  .github/workflows/run_sonarcloud_scan.yml
  .pre-commit-config.yaml
  .pylintrc
  config/pyscript/scripts/mini_crt/__init__.py
  config/pyscript/scripts/mini_crt/services.py
  config/pyscript/scripts/task_scheduler/triggered_functions.py
  pyproject.toml
Labels: sync, python, keep-updated, github-actions

#98 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
  .pre-commit-config.yaml
Labels: sync, keep-updated, github-actions

#100 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
  .pre-commit-config.yaml
Labels: sync, keep-updated, github-actions

#103 HAssPi Sync (10 files changed)
  .github/repo_labels.yml
  .github/workflows/create_hasspi_pr.yml
  .github/workflows/manage_pr_labels.yml
  .pre-commit-config.yaml
  README.md
  includes/input_select.yaml
  includes/input_text.yaml
  includes/rest_command.yaml
  includes/scripts.yaml
  includes/switch.yaml
Labels: github-actions, hasspi-sync

#106 Fix script issue
  .github/repo_labels.yml
  .github/workflows/create_hasspi_pr.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/manage_repo_labels.yml
  .github/workflows/pr_autoupdate.yaml
  .github/workflows/run_sonarcloud_scan.yml
  .pre-commit-config.yaml
  includes/binary_sensor.yaml
  includes/cover.yaml
  includes/device_tracker.yaml
  includes/input_boolean.yaml
  includes/input_button.yaml
  includes/input_datetime.yaml
  includes/input_number.yaml
  includes/input_select.yaml
  includes/input_text.yaml
  includes/media_player.yaml
  includes/mqtt.yaml
  includes/scripts.yaml
  includes/sensors.yaml
Labels: github-actions, patch

#109 🔄 synced file(s) with worgarside/github-config-files
  .github/delete-merged-branch-config.yml
  .github/workflows/delete_pr_branch.yml
Labels: sync, keep-updated, github-actions

#110 Update `wg-utilities` to `3.1.1` for Pyscript
  .pre-commit-config.yaml
  .vscode/home-assistant.code-workspace
  pyproject.toml
  pyscript/requirements.txt
  pyscript/scripts/monzo/services.py
  pyscript/scripts/nanoleaf/triggered_functions.py
  pyscript/scripts/netgear/variables.py
  pyscript/scripts/spotify/triggered_functions.py
  pyscript/scripts/spotify/variables.py
  pyscript/scripts/truelayer/authentication.py
Labels: enhancement, python

#111 Bump wg-utilities to 3.1.1; minor formatting and refactoring
  .github/delete-merged-branch-config.yml
  .github/workflows/delete_pr_branch.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/pr_autoupdate.yaml
  .github/workflows/run_sonarcloud_scan.yml
  .pre-commit-config.yaml
  .vscode/home-assistant.code-workspace
  configuration.yaml
  poetry.lock
  pyproject.toml
  pyscript/requirements.txt
  pyscript/scripts/google_calendar/__init__.py
  pyscript/scripts/google_calendar/triggered_functions.py
  pyscript/scripts/google_drive/__init__.py
  pyscript/scripts/monzo/services.py
  pyscript/scripts/nanoleaf/triggered_functions.py
  pyscript/scripts/netgear/variables.py
  pyscript/scripts/spotify/triggered_functions.py
  pyscript/scripts/spotify/variables.py
  pyscript/scripts/truelayer/authentication.py
Labels: dependencies, python, github-actions, minor

#112 Add GHA for auto-creating PRs
  .github/workflows/auto_create_pr.yml
Labels: sync, keep-updated, github-actions

#114 Add proper name to PR label manager step
  .github/workflows/manage_repo_labels.yml
Labels: sync, keep-updated, github-actions

#113 Add labels for HA entities
  .github/labeler.yml
  .github/repo_labels.yml
Labels: enhancement, keep-updated, non-functional

#118 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
Labels: sync, keep-updated, github-actions

#115 Instantiate Spotify user asynchronously
  pyscript/scripts/spotify/triggered_functions.py
Labels: bug, python, keep-updated, ha:pyscript

#117 Add sensor for YAS-209 Local IP
  includes/template/templates.yaml
  pyscript/scripts/yas_209/triggered_functions.py
Labels: enhancement, python, keep-updated, minor, ha:pyscript, ha:template

#116 Add missing pyscript dep (`strenum`)
  pyscript/requirements.txt
Labels: bug, dependencies, keep-updated, ha:pyscript

#120 Bugfix for auto-merge job condition
  .github/workflows/manage_pr_labels.yml
Labels: sync, keep-updated, github-actions

#121 Add release GHAs
  .github/release-drafter.yml
  .github/workflows/draft_release.yaml
  .github/workflows/publish_release.yml
Labels: enhancement, keep-updated, github-actions, non-functional

#122 Include `homeassistant.local` branch in PR labeler
  .github/workflows/manage_pr_labels.yml
Labels: sync, keep-updated, github-actions

#123 Fix cross-repo PR referencing
  .github/workflows/manage_pr_labels.yml
Labels: sync, keep-updated, github-actions

#124 Only change merge commit text for GHCF repo
  .github/workflows/manage_pr_labels.yml
Labels: sync, keep-updated, github-actions

#126 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
Labels: sync, keep-updated, github-actions

#127 Change auto-merge author to `worgarside`
  .github/workflows/manage_pr_labels.yml
Labels: sync, keep-updated, github-actions

#128 Change labeler author to `worgarside-dev`
  .github/workflows/manage_pr_labels.yml
Labels: sync, keep-updated, github-actions

#130 HAssPi Sync (14 files changed)
  .gitignore
Labels: hasspi-sync

#132 Add quotes to all boolean values in YAML
  includes/automation/critical.yaml
  includes/automation/devices.yaml
  includes/automation/hue_remotes.yaml
  includes/automation/notifications.yaml
  includes/automation/wills_room.yaml
  includes/template/templates.yaml
  lovelace/decluttering_templates.yaml
  lovelace/views/media_dashboard.yaml
  lovelace/views/mobile_dashboard.yaml
Labels: bug, ha:automations, ha:lovelace, ha:template

#133 Separate auto-merger into its own workflow
  .github/workflows/manage_pr_labels.yml
  .github/workflows/set_pr_auto_merge.yml
Labels: sync, keep-updated, github-actions

#137 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
  .github/workflows/set_pr_auto_merge.yml
Labels: sync, keep-updated, github-actions

#138 Fix auto merge permissions for dependabot PRs
  .github/workflows/set_pr_auto_merge.yml
Labels: sync, keep-updated, github-actions

#140 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
  .github/workflows/set_pr_auto_merge.yml
Labels: sync, keep-updated, github-actions

#148 Remove all JetBrains editor folds
  includes/automation/devices.yaml
  includes/automation/hue_remotes.yaml
  includes/automation/input_entities.yaml
  includes/mqtt.yaml
  includes/template/templates.yaml
  includes/variable/variables.yaml
Labels: non-functional, ha:automations, ha:mqtt, ha:template, ha:variables, chore

#150 Remove old galaxy light references
  includes/automation/critical.yaml
  includes/automation/hue_remotes.yaml
  includes/variable/variables.yaml
Labels: keep-updated, non-functional, ha:automations, ha:variables, chore

#146 Remove Matt & Tom's Spotify accounts ;_;
  includes/automation/crt_pi.yaml
  includes/automation/mtrx_pi.yaml
  includes/input_select.yaml
  includes/template/templates.yaml
  includes/variable/variables.yaml
  pyscript/scripts/nanoleaf/triggered_functions.py
  pyscript/scripts/spotify/variables.py
Labels: python, keep-updated, non-functional, ha:automations, ha:input-select, ha:pyscript, ha:template, ha:variables, chore

#151 Remove AS0140 ping sensor
  includes/binary_sensor.yaml
Labels: keep-updated, non-functional, chore

#149 Remove all things washing machine
  includes/automation/critical.yaml
  includes/automation/input_entities.yaml
  includes/automation/notifications.yaml
  includes/scripts.yaml
  includes/template/templates.yaml
  lovelace/cards/floorplan_ground_floor.yaml
  lovelace/views/mobile_dashboard.yaml
Labels: keep-updated, non-functional, ha:automations, ha:lovelace, ha:scripts, ha:template, chore

#147 Remove entity force updater
  includes/automation/input_entities.yaml
  includes/input_select.yaml
  pyscript/scripts/homeassistant/__init__.py
  pyscript/scripts/homeassistant/input_select.py
Labels: python, keep-updated, non-functional, ha:automations, ha:input-select, ha:pyscript, chore

#152 Bump wg-utilities to 3.6.0
  .pre-commit-config.yaml
  poetry.lock
  pyscript/requirements.txt
Labels: enhancement, dependencies, keep-updated, minor, ha:pyscript

#154 Combine mobile dashboard into main
  lovelace/dashboards/mobile_dashboard.yaml
  ui-lovelace.yaml
Labels: enhancement, keep-updated, minor, ha:lovelace

#153 Remove/reformat old comments
  includes/automation/critical.yaml
  includes/automation/financial.yaml
  includes/automation/input_entities.yaml
Labels: keep-updated, non-functional, ha:automations, chore

#155 Release 0.1.0
  .github/labeler.yml
  .github/release-drafter.yml
  .github/repo_labels.yml
  .github/workflows/auto_create_pr.yml
  .github/workflows/draft_release.yaml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/manage_repo_labels.yml
  .github/workflows/publish_release.yml
  .github/workflows/set_pr_auto_merge.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/home-assistant.code-workspace
  includes/automation/critical.yaml
  includes/automation/crt_pi.yaml
  includes/automation/devices.yaml
  includes/automation/financial.yaml
  includes/automation/hue_remotes.yaml
  includes/automation/input_entities.yaml
  includes/automation/mtrx_pi.yaml
  includes/automation/notifications.yaml
  includes/automation/wills_room.yaml
  includes/binary_sensor.yaml
  includes/input_select.yaml
  includes/mqtt.yaml
  includes/scripts.yaml
  includes/template/templates.yaml
  includes/variable/variables.yaml
  lovelace/cards/floorplan_ground_floor.yaml
  lovelace/dashboards/mobile_dashboard.yaml
  lovelace/decluttering_templates.yaml
  lovelace/views/media_dashboard.yaml
  lovelace/views/mobile_dashboard.yaml
  poetry.lock
  pyproject.toml
  pyscript/config.yaml
  pyscript/modules/const.py
  pyscript/modules/helpers.py
  pyscript/requirements.txt
  pyscript/scripts/google_fit/variables.py
  pyscript/scripts/homeassistant/__init__.py
  pyscript/scripts/homeassistant/input_select.py
  pyscript/scripts/monzo/services.py
  pyscript/scripts/nanoleaf/triggered_functions.py
  pyscript/scripts/netgear/variables.py
  pyscript/scripts/spotify/triggered_functions.py
  pyscript/scripts/spotify/variables.py
  pyscript/scripts/truelayer/authentication.py
  pyscript/scripts/truelayer/variables.py
  pyscript/scripts/yas_209/triggered_functions.py
  ui-lovelace.yaml
Labels: dependencies, python, github-actions, minor, release, ha:automations, ha:input-select, ha:lovelace, ha:mqtt, ha:pyscript, ha:scripts, ha:template, ha:variables

#157 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/pr_autoupdate.yaml
Labels: sync, keep-updated, github-actions

#158 🔄 synced file(s) with worgarside/github-config-files
  .github/CODEOWNERS
Labels: sync, keep-updated

#160 Remove old mobile dashboard reference
  configuration.yaml
Labels: bug, keep-updated, ha:config

#156 Stop deleting Spotify entity attributes
  pyscript/scripts/spotify/triggered_functions.py
Labels: enhancement, python, keep-updated, minor, ha:pyscript

#162 Add automation to control plant lights with new Zigbee remote
  includes/automation/zigbee_remotes.yaml
Labels: enhancement, keep-updated, minor, ha:automations

#161 Add `load_dotenv` call to Pyscript helpers module
  .pre-commit-config.yaml
  pyscript/modules/helpers.py
Labels: enhancement, python, keep-updated, minor, ha:pyscript

#163 Update logs for Spotify playlist updates
  pyscript/scripts/spotify/triggered_functions.py
Labels: python, keep-updated, non-functional, ha:pyscript, chore

#164 Release 0.2.0
  .github/CODEOWNERS
  .github/workflows/pr_autoupdate.yaml
  .pre-commit-config.yaml
  configuration.yaml
  includes/automation/zigbee_remotes.yaml
  pyproject.toml
  pyscript/modules/helpers.py
  pyscript/scripts/spotify/triggered_functions.py
Labels: python, keep-updated, github-actions, minor, release, ha:automations, ha:config, ha:pyscript

#166 Remove config entry for Matt's Shapes
  pyscript/config.yaml
Labels: bug, keep-updated, ha:pyscript

#169 Update PR branch deleter to use bot label
  .github/repo_labels.yml
  .github/workflows/delete_pr_branch.yml
Labels: sync, keep-updated, github-actions

#171 Downgrade dependabot auto merges to minor
  .github/workflows/dependabot_auto_merge.yml
Labels: enhancement, keep-updated, github-actions, minor

#170 Update release workflows to reusables from GHCF repo
  .github/workflows/draft_release.yaml
  .github/workflows/publish_release.yml
Labels: keep-updated, github-actions, minor, chore

#174 Release 0.2.1
  pyproject.toml
Labels: patch, release

#176 Release 0.2.1
  .github/workflows/draft_release.yaml
  .github/workflows/publish_release.yml
Labels: keep-updated, github-actions, patch, release

#177 HAssPi Sync (3 files changed)
  .github/workflows/draft_release.yaml
  .github/workflows/publish_release.yml
  pyproject.toml
Labels: keep-updated, github-actions, hasspi-sync

#182 Add VSCode workspace file
  .gitignore
  .vscode/home-assistant.code-workspace
Labels: keep-updated, non-functional, chore

#183 Add custom ZHA quirk for Tuya ZS06
  .pre-commit-config.yaml
  configuration.yaml
  custom_zha_quirks/ts1201.py
  includes/automation/yamaha_yas_209.yaml
  includes/scripts.yaml
  pyproject.toml
Labels: enhancement, python, keep-updated, minor, ha:automations, ha:config, ha:scripts

#184 Release 0.3.0
  .gitignore
  .pre-commit-config.yaml
  .vscode/home-assistant.code-workspace
  configuration.yaml
  custom_zha_quirks/ts1201.py
  includes/automation/yamaha_yas_209.yaml
  includes/scripts.yaml
  pyproject.toml
Labels: python, keep-updated, release, ha:automations, ha:config, ha:scripts

#186 Merge `release/0.3.0` back into `develop`
  pyproject.toml
Labels: keep-updated, minor, release, skip-changelog, bot:delete-on-merge

#194 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/delete_pr_branch.yml
  .github/workflows/dependabot_auto_merge.yml
Labels: sync, keep-updated, github-actions

#195 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/delete_pr_branch.yml
  .github/workflows/pr_autoupdate.yml
Labels: sync, keep-updated, github-actions

#196 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/delete_pr_branch.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/pr_autoupdate.yml
  .github/workflows/run_sonarcloud_scan.yml
  .github/workflows/set_pr_auto_merge.yml
Labels: sync, keep-updated, github-actions
