Repository worgarside/home-assistant, pull requests merged in 2023-11, with the labels that each got.

#516 Bump Home Assistant version to `2023.11.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#517 Update Office Amp to switch on/off for MacBooks
  entities/automation/switch/office_amp/auto_turn_off.yaml
  entities/automation/switch/office_amp/auto_turn_on.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#520 Bump Home Assistant version to `2023.11.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#519 Add auto-save entities
  entities/input_boolean/appdaemon_trigger/ad_monzo_auto_save.yaml
  entities/input_datetime/last_auto_save.yaml
  entities/input_number/auto_save_debit_transaction_percentage.yaml
  entities/input_number/auto_save_minimum.yaml
  entities/script/appdaemon_trigger/ad_monzo_auto_save.yaml
  entities/var/auto_save_amount.yaml
  secrets.fake.yaml
Labels: enhancement, bot:keep-updated, minor, ha:input-boolean, ha:input-datetime, ha:input-number, ha:scripts, ha:variables

#522 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/ci_deployment.yml
Labels: sync, bot:keep-updated, github-actions

#523 Fix typo on Lovelace action
  lovelace/views/system_health.yaml
Labels: bug, bot:keep-updated, ha:lovelace

#525 Delete old Pyscript automation
  entities/automation/pyscript/monzo/top_up_credit_card_pot/run.yaml
Labels: bot:keep-updated, patch, ha:automations, chore

#528 Update submodules on git pull automation
  resources/shell_command/git/get_latest_release.sh
Labels: bug, bot:keep-updated

#529 Add git sensors for AppDaemon submodule
  entities/automation/webhook/get_latest_release.yaml
  entities/command_line/sensor/current_appdaemon_branch.yaml
  entities/command_line/sensor/current_appdaemon_ref.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:command-line

#530 Add icons for command line sensors
  entities/command_line/sensor/current_appdaemon_branch.yaml
  entities/command_line/sensor/current_appdaemon_ref.yaml
  entities/command_line/sensor/current_git_branch.yaml
  entities/command_line/sensor/current_git_ref.yaml
Labels: bug, bot:keep-updated, ha:command-line

#532 Fix bug when stashing AppDaemon submodule
  resources/shell_command/git/get_latest_release.sh
Labels: bug, bot:keep-updated

#535 🔄 synced file(s) with worgarside/github-config-files
  .pylintrc
Labels: sync, bot:keep-updated

#536 Bump Home Assistant version to `2023.11.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#538 Update AppDaemon Git sensors after getting latest release
  entities/automation/webhook/get_latest_release.yaml
Labels: bug, bot:keep-updated, ha:automations

#539 Update `switch.office_amp` auto-turn off triggers
  entities/automation/switch/office_amp/auto_turn_off.yaml
Labels: bot:keep-updated, patch, ha:automations, chore

#541 Add inputs for auto-saving naughty transactions
  entities/input_number/auto_save_naughty_transaction_percentage.yaml
  entities/input_text/auto_save_naughty_transaction_pattern.yaml
Labels: enhancement, bot:keep-updated, minor, ha:input-number, ha:input-text

#540 Stop blinds hanging in `opening`/`closing` state when opened <100%
  entities/automation/cover/bedroom_blinds/register_stop_state.yaml
  entities/automation/cover/lounge_blinds/register_stop_state.yaml
  entities/automation/cover/office_blinds/register_stop_state.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#543 Remove secondary Google Maps account
  entities/device_tracker/google_maps/google_maps_location_tracker_email.yaml
  secrets.fake.yaml
Labels: bot:keep-updated, patch, ha:device-tracker, chore

#544 Deprecate custom Google Fit variables
  entities/var/google_fit/google_fit_active_minutes.yaml
  entities/var/google_fit/google_fit_calories_expended.yaml
  entities/var/google_fit/google_fit_distance_moved.yaml
  entities/var/google_fit/google_fit_step_count.yaml
  entities/var/google_fit/google_fit_weight.yaml
  secrets.fake.yaml
Labels: bot:keep-updated, patch, ha:variables, chore

#545 Add stale entities sensor
  entities/template/sensor/entity_counts/count_stale_entities.yaml
  lovelace/views/system_health.yaml
Labels: enhancement, bot:keep-updated, minor, ha:lovelace, ha:template

#554 Not all patches are bugs
  .github/release-drafter.yml
Labels: sync, bot:keep-updated

#555 Add Expander Card
  .github/labeler.yml
  integrations/lovelace.yaml
Labels: enhancement, bot:keep-updated, patch, ha:lovelace

#556 Ensure CC notification top amount is 2dp
  entities/automation/notification/credit_card_top_up/send.yaml
Labels: bug, bot:keep-updated, ha:automations

#557 Add scripts for controlling Cambridge Audio Topaz SR10 via Tuya ZS06
  entities/automation/switch/office_amp/auto_turn_on.yaml
  entities/script/ir_blaster/ir_blaster_issue_command.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_am.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_aux.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_cd.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_dvd.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_fm.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_phono.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_volume_down.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_volume_up.yaml
  entities/script/ir_blaster/yas_209/yas_209_set_eq_movie.yaml
  entities/script/ir_blaster/yas_209/yas_209_set_eq_music.yaml
  entities/script/ir_blaster/yas_209/yas_209_set_eq_tv.yaml
  entities/script/ir_blaster/yas_209/yas_209_set_source_hdmi.yaml
  entities/script/ir_blaster/yas_209/yas_209_set_source_tv.yaml
  entities/script/ir_blaster/yas_209/yas_209_toggle_power.yaml
  entities/script/ir_blaster/yas_209/yas_209_volume_down.yaml
  entities/script/ir_blaster/yas_209/yas_209_volume_mute.yaml
  entities/script/ir_blaster/yas_209/yas_209_volume_up.yaml
  entities/script/yas_209_set_eq_movie.yaml
  entities/script/yas_209_set_eq_music.yaml
  entities/script/yas_209_set_eq_tv.yaml
  entities/script/yas_209_set_source_hdmi.yaml
  entities/script/yas_209_set_source_tv.yaml
  entities/script/yas_209_toggle_power.yaml
  entities/script/yas_209_volume_down.yaml
  entities/script/yas_209_volume_mute.yaml
  entities/script/yas_209_volume_up.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:scripts

#558 Fix bug where volume is increased even if amp is already on
  entities/automation/switch/office_amp/auto_turn_on.yaml
Labels: bug, bot:keep-updated, ha:automations

#560 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/validate_home_assistant_config.yml
Labels: sync, bot:keep-updated, github-actions

#559 Fix folder watcher integration 🎉
  configuration.yaml
  integrations/folder_watcher.yaml
  integrations/homeassistant.yaml
Labels: bug, bot:keep-updated, ha:config

#564 Bump Home Assistant version to `2023.11.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#566 Toggle AdGuard status based on WiFi users
  entities/automation/person/vic/toggle_adguard.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#568 Fix minor bug in `cover.office_desk` icon template
  entities/cover/office/office_desk.yaml
Labels: bug, bot:keep-updated, ha:cover

#569 Update `var` config to validate `unique_id`
  config_validator.json
  entities/var/auto_save_amount.yaml
  entities/var/spotify/spotify_tempo_will.yaml
  entities/var/tasker/tasker_pixel_now_playing.yaml
  entities/var/truelayer/truelayer_balance_amex.yaml
  entities/var/truelayer/truelayer_balance_hsbc_current_account.yaml
  entities/var/truelayer/truelayer_balance_monzo_credit_cards.yaml
  entities/var/truelayer/truelayer_balance_monzo_current_account.yaml
  entities/var/truelayer/truelayer_balance_monzo_savings.yaml
  entities/var/truelayer/truelayer_balance_santander_current_account.yaml
  entities/var/truelayer/truelayer_balance_santander_savings_account.yaml
  entities/var/truelayer/truelayer_balance_starling_current_account.yaml
  entities/var/truelayer/truelayer_balance_starling_joint_account.yaml
Labels: bot:keep-updated, patch, ha:variables, chore

#570 Fix bad condition in AdGuard toggle automation
  entities/automation/person/vic/toggle_adguard.yaml
Labels: bug, bot:keep-updated, ha:automations

#572 Fix `customizations` directory path
  configuration.yaml
Labels: bug, ha:config

#576 Add `xiaomi-vacuum-map-card` to Lovelace
  integrations/lovelace.yaml
Labels: enhancement, bot:keep-updated, minor, ha:lovelace

#577 Add optional params to `script.notify_will`
  entities/script/notify_will.yaml
Labels: enhancement, bot:keep-updated, patch, ha:scripts

#561 Add auto-reload/restart workflow
  entities/automation/automation/auto_reload_complete.yaml
  entities/automation/homeassistant/reload_all/latest_release_trigger.yaml
  entities/automation/homeassistant/reload_all/mobile_notification_actioned.yaml
  entities/automation/homeassistant/restart/mobile_notification_actioned.yaml
  entities/automation/input_boolean/system/latest_release_downloaded/on.yaml
  entities/automation/input_boolean/system/latest_release_downloaded/timeout.yaml
  entities/automation/notification/system/reload_required/send.yaml
  entities/automation/notification/system/restart_required/send.yaml
  entities/automation/webhook/get_latest_release.yaml
  entities/input_boolean/system/system_latest_release_downloaded.yaml
  entities/script/notify_will.yaml
  entities/script/system/reset_reloadable_files_changed.yaml
  entities/script/system/reset_restart_required_files_changed.yaml
  entities/shell_command/get_latest_release.yaml
  entities/template/triggered/system_reloadable_files_changed.yaml
  entities/template/triggered/system_restart_required_files_changed.yaml
  entities/template/triggered/wills_yas_209_bridge_input.yaml
  integrations/template.yaml
  integrations/template_triggered.yaml
  resources/shell_command/git/get_latest_release.sh
  secrets.fake.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-boolean, ha:scripts, ha:template, ha:shell-command

#578 Stop blinds opening/closing when templates are reloaded
  entities/automation/cover/bedroom_blinds/close_after_sunset.yaml
  entities/automation/cover/bedroom_blinds/open_before_sunrise.yaml
  entities/automation/cover/bedroom_blinds/register_stop_state.yaml
  entities/automation/cover/lounge_blinds/close_after_sunset.yaml
  entities/automation/cover/lounge_blinds/open_before_sunrise.yaml
  entities/automation/cover/lounge_blinds/register_stop_state.yaml
  entities/automation/cover/office_blinds/close_after_sunset.yaml
  entities/automation/cover/office_blinds/open_before_sunrise.yaml
  entities/automation/cover/office_blinds/register_stop_state.yaml
Labels: bug, bot:keep-updated, ha:automations

#579 Ensure auto-reload/restart notifs are triggered by valid integer values
  entities/automation/notification/system/reload_required/send.yaml
  entities/automation/notification/system/restart_required/send.yaml
Labels: bug, bot:keep-updated, ha:automations

#580 Add `bot:do-not-close` label
  .github/repo_labels.yml
Labels: bot:keep-updated, non-functional, tools, chore

#575 Remove space in AdGuard Status sensor file name
  entities/command_line/sensor/adguard_status.yaml
Labels: bot:keep-updated, non-functional, chore, bot:do-not-close

#581 Bugfixes for the auto-reload workflow
  entities/automation/homeassistant/reload_all/latest_release_trigger.yaml
  entities/automation/notification/system/reload_required/send.yaml
  entities/automation/notification/system/restart_required/send.yaml
Labels: bug, bot:keep-updated, ha:automations

#582 Add NFC tag automations for Cosmo!
  entities/automation/tag/cosmo/bedroom.yaml
  entities/automation/tag/cosmo/en_suite.yaml
  entities/automation/tag/cosmo/hallway.yaml
  entities/automation/tag/cosmo/kitchen.yaml
  entities/automation/tag/cosmo/lounge.yaml
  entities/automation/tag/cosmo/office.yaml
  entities/automation/tag/cosmo/return_to_base.yaml
  entities/script/cosmo/cosmo_tag_scanned.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:scripts

#584 Add `binary_sensor.vic_at_work`
  entities/template/binary_sensor/vic_at_work.yaml
Labels: enhancement, bot:keep-updated, minor, ha:template

#585 Optimise trigger for "nobody home" automation
  entities/automation/person/nobody_home.yaml
Labels: bot:keep-updated, patch, ha:automations, chore

#586 Add lookup script for dynamically getting room IDs by name
  entities/automation/tag/cosmo/bedroom.yaml
  entities/automation/tag/cosmo/en_suite.yaml
  entities/automation/tag/cosmo/hallway.yaml
  entities/automation/tag/cosmo/kitchen.yaml
  entities/automation/tag/cosmo/lounge.yaml
  entities/automation/tag/cosmo/office.yaml
  entities/script/cosmo/cosmo_get_room_id_or_name.yaml
  entities/script/cosmo/cosmo_tag_scanned.yaml
  entities/script/debug_persistent_notification.yaml
  entities/template/triggered/cosmo_room_lookup.yaml
Labels: bug, bot:keep-updated, ha:automations, ha:scripts, ha:template

#587 Fix syntax typo in template sensor
  entities/template/binary_sensor/vic_at_work.yaml
Labels: bug, bot:keep-updated, ha:template

#588 Remove `error: false` option
  entities/script/cosmo/cosmo_get_room_id_or_name.yaml
Labels: bug, bot:keep-updated, ha:scripts, ha:template

#589 Automate hallway lights
  entities/automation/binary_sensor/front_door/open.yaml
  entities/automation/binary_sensor/hallway_motion_sensor/off_for_5_minutes.yaml
  entities/automation/binary_sensor/hallway_motion_sensor/on.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#590 Remove bad variable reference in Hallway light automation
  entities/automation/binary_sensor/hallway_motion_sensor/off_for_2_minutes.yaml
  entities/automation/binary_sensor/hallway_motion_sensor/on.yaml
Labels: bug, bot:keep-updated, ha:automations

#592 Fix invalid `to` state in `/person/nobody-home`
  entities/automation/person/nobody_home.yaml
Labels: bug, bot:keep-updated, ha:automations

#591 Add conditions to the hallway light automations to reduce conflicts etc.
  entities/automation/binary_sensor/front_door/open.yaml
  entities/automation/binary_sensor/hallway_motion_sensor/on.yaml
Labels: bug, bot:keep-updated, ha:automations

#593 Update hallway automations to consider outside brightness
  entities/automation/binary_sensor/front_door/open.yaml
  entities/automation/binary_sensor/hallway_motion_sensor/on.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#596 Add upper limit to bedroom blinds auto-open
  entities/automation/cover/bedroom_blinds/open_before_sunrise.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#595 Pin PCH to Python 3.11
  .pre-commit-config.yaml
Labels: bot:keep-updated, non-functional, tools, chore

#600 Fix condition(s) in bedroom blinds auto-opener
  entities/automation/cover/bedroom_blinds/open_before_sunrise.yaml
Labels: bug, bot:keep-updated, ha:automations

#598 Add remaining amount to CC Pot top up notification
  entities/automation/notification/credit_card_top_up/send.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations
