Repository worgarside/home-assistant, pull requests merged in 2023-07, with the labels that each got.

#356 Add GitHub PR Dashboard
  .github/labeler.yml
  .github/repo_labels.yml
  .gitignore
  entities/automation/homeassistant/load_gh_cli_on_start.yaml
  entities/command_line/sensor/github_pull_requests/addon_rss_log_feed_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/addon_yas_209_bridge_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/github_config_files_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/home_assistant_config_validator_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/home_assistant_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/led_matrix_now_playing_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/plant_monitor_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/python_template_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/smart_mini_crt_interface_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/useful_devops_scripts_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/very_slow_movie_player_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/wg_scripts_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/wg_utilities_pull_requests.yaml
  entities/shell_command/approve_pull_request.yaml
  entities/shell_command/get_gh_cli.yaml
  entities/shell_command/mark_pr_as_ready_for_review.yaml
  entities/shell_command/run_custom_file_1.yaml
  entities/shell_command/run_custom_file_2.yaml
  entities/shell_command/run_custom_file_3.yaml
  entities/shell_command/set_pr_auto_merge.yaml
  entities/shell_command/toggle_pr_label.yaml
  integrations/lovelace.yaml
  integrations/shell_command.yaml
  lovelace/dashboards/system_health.yaml
  lovelace/decluttering_templates.yaml
  lovelace/views/github.yaml
  resources/shell_command/custom_file_1.sh
  resources/shell_command/custom_file_2.sh
  resources/shell_command/custom_file_3.sh
  resources/shell_command/github_pull_requests/approve_pull_request.sh
  resources/shell_command/github_pull_requests/get_gh_cli.sh
  resources/shell_command/github_pull_requests/get_pull_requests.sh
  resources/shell_command/github_pull_requests/mark_pr_as_ready_for_review.sh
  resources/shell_command/github_pull_requests/set_pr_auto_merge.sh
  resources/shell_command/github_pull_requests/toggle_pr_label.sh
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:lovelace, ha:command-line, ha:shell-command

#360 Stagger bedroom blinds auto-open
  entities/automation/cover/bedroom_blinds/open_before_sunrise.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#361 Add automations to restart CPU hungry add-ons
  entities/automation/hassio/auto_restart_mariadb_add_on.yaml
  entities/automation/hassio/auto_restart_silicon_labs_multiprotocol_add_on.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#362 Add control for toggling `bot:keep-updated` label
  lovelace/decluttering_templates.yaml
Labels: enhancement, bot:keep-updated, minor, ha:lovelace

#354 Add script for syncing files to HAssPi for local development
  .pre-commit-config.yaml
  Makefile
  dev_tools/hasspi_file_sync/main.py
  poetry.lock
  pyproject.toml
Labels: enhancement, python, bot:keep-updated, minor

#363 Fix GitHub dashboard for widescreens (including better truncation)
  lovelace/decluttering_templates.yaml
  lovelace/views/github.yaml
Labels: bug, bot:keep-updated, ha:lovelace

#364 Remove more Browser Mod entities from unavailable list
  entities/template/sensor/entity_counts/count_unavailable_entities.yaml
Labels: bug, bot:keep-updated, ha:template

#365 Add shell command for checking out/pulling `develop`
  entities/command_line/sensor/github_pull_requests/addon_rss_log_feed_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/addon_yas_209_bridge_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/github_config_files_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/home_assistant_config_validator_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/home_assistant_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/led_matrix_now_playing_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/plant_monitor_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/python_template_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/smart_mini_crt_interface_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/useful_devops_scripts_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/very_slow_movie_player_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/wg_scripts_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/wg_utilities_pull_requests.yaml
  entities/shell_command/approve_pull_request.yaml
  entities/shell_command/checkout_develop_head.yaml
  entities/shell_command/get_gh_cli.yaml
  entities/shell_command/mark_pr_as_ready_for_review.yaml
  entities/shell_command/set_pr_auto_merge.yaml
  entities/shell_command/toggle_pr_label.yaml
  resources/shell_command/gh_cli/approve_pull_request.sh
  resources/shell_command/gh_cli/get_gh_cli.sh
  resources/shell_command/gh_cli/get_pull_requests.sh
  resources/shell_command/gh_cli/mark_pr_as_ready_for_review.sh
  resources/shell_command/gh_cli/set_pr_auto_merge.sh
  resources/shell_command/gh_cli/toggle_pr_label.sh
  resources/shell_command/git/checkout_develop_head.sh
Labels: enhancement, bot:keep-updated, minor, ha:command-line, ha:shell-command

#366 Sync SonarCloud GHA workflow
  .github/workflows/manage_pr_labels.yml
Labels: sync, bot:keep-updated, github-actions

#368 Merge `release/1.3.0` back into `develop`
  pyproject.toml
Labels: non-functional, release, skip-changelog, bot:delete-on-merge

#369 Create new releases nightly
  .github/workflows/create_new_release.yml
Labels: enhancement, bot:keep-updated, github-actions, minor

#374 Revert "Bump pydantic from 1.10.9 to 2.0"
  poetry.lock
Labels: bot:keep-updated, non-functional, skip-changelog

#376 Update blinds go-to height for lounge desk button
  entities/automation/remote/lounge_desk/single_press.yaml
Labels: bot:keep-updated, patch, ha:automations, chore

#375 Fix bugs with loop in bedroom blinds auto-open-automation
  entities/automation/cover/bedroom_blinds/open_before_sunrise.yaml
Labels: bug, bot:keep-updated, ha:automations

#379 Merge `release/1.3.1` back into `develop`
  pyproject.toml
Labels: non-functional, release, skip-changelog, bot:delete-on-merge

#380 Add dependabot command shortcuts to GitHub dashboard
  entities/shell_command/comment_on_pr.yaml
  integrations/lovelace.yaml
  lovelace/decluttering_templates.yaml
  resources/shell_command/gh_cli/comment_on_pr.sh
Labels: enhancement, bot:keep-updated, minor, ha:lovelace, ha:shell-command

#381 Release 1.4.0
  .pre-commit-config.yaml
  entities/shell_command/comment_on_pr.yaml
  integrations/lovelace.yaml
  lovelace/decluttering_templates.yaml
  pyproject.toml
  resources/shell_command/gh_cli/comment_on_pr.sh
Labels: minor, release, ha:lovelace, ha:shell-command

#382 Merge `release/1.4.0` back into `develop`
  pyproject.toml
Labels: non-functional, release, skip-changelog, bot:delete-on-merge

#384 Add Vic's fan to Mobile Dashboard
  lovelace/views/mobile_dashboard.yaml
Labels: enhancement, bot:keep-updated, minor, ha:lovelace

#385 Implement `else` key for Unavailable Entities/Low Batteries cards
  entities/template/binary_sensor/batteries_are_low.yaml
  entities/template/binary_sensor/entities_are_unavailable.yaml
  lovelace/views/system_health.yaml
Labels: enhancement, bot:keep-updated, patch, ha:lovelace, ha:template

#387 Bump HA to 2023.7.1 Plus some other dep tidying
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: bot:keep-updated, non-functional, chore

#388 Stop logging into GH CLI on every request; login when it's installed
  resources/shell_command/gh_cli/approve_pull_request.sh
  resources/shell_command/gh_cli/comment_on_pr.sh
  resources/shell_command/gh_cli/get_gh_cli.sh
  resources/shell_command/gh_cli/get_pull_requests.sh
  resources/shell_command/gh_cli/mark_pr_as_ready_for_review.sh
  resources/shell_command/gh_cli/set_pr_auto_merge.sh
  resources/shell_command/gh_cli/toggle_pr_label.sh
Labels: bug, bot:keep-updated

#389 Add webhook trigger for PR sensors
  dev_tools/add_webhook_to_repo/add_webhook_to_repo.fish
  entities/automation/webhook/update_pull_request_sensor.yaml
  entities/command_line/sensor/github_pull_requests/addon_rss_log_feed_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/addon_yas_209_bridge_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/github_config_files_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/home_assistant_config_validator_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/home_assistant_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/led_matrix_now_playing_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/plant_monitor_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/python_template_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/smart_mini_crt_interface_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/useful_devops_scripts_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/very_slow_movie_player_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/wg_scripts_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/wg_utilities_pull_requests.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:command-line

#391 Rate limit GH CLI calls to 1 per second
  entities/automation/webhook/update_pull_request_sensor.yaml
Labels: bug, bot:keep-updated, ha:automations

#390 Play music when turning Office Speakers on
  entities/automation/remote/office_speakers/single_press.yaml
Labels: bug, bot:keep-updated, ha:automations

#392 Add Item Warehouse Add-on Repo
  entities/command_line/sensor/github_pull_requests/add_on_item_warehouse.yaml
  entities/command_line/sensor/github_pull_requests/add_on_rss_log_feed_pull_requests.yaml
  entities/command_line/sensor/github_pull_requests/add_on_yas_209_bridge_pull_requests.yaml
  lovelace/views/github.yaml
Labels: enhancement, bot:keep-updated, minor, ha:lovelace, ha:command-line

#393 Make PR card headers manual update buttons
  entities/command_line/sensor/github_pull_requests/add_on_item_warehouse.yaml
  lovelace/decluttering_templates.yaml
Labels: enhancement, bot:keep-updated, minor, ha:lovelace, ha:command-line

#399 Allow user input for lounge blinds button height
  Makefile
  entities/automation/remote/lounge_desk/single_press.yaml
  entities/input_number/lounge_blinds_button_height.yaml
  lovelace/views/mobile_dashboard.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number, ha:lovelace

#401 Unrelated: fix for GHA perms
  .github/workflows/create_new_release.yml
  entities/automation/cover/bedroom_blinds/close_after_sunset.yaml
  entities/automation/cover/lounge_blinds/close_after_sunset.yaml
  entities/automation/cover/office_blinds/close_after_sunset.yaml
Labels: bot:keep-updated, github-actions, minor, ha:automations, chore
