Repository worgarside/home-assistant, pull requests merged in 2023-12, with the labels that each got.

#602 Add input_number to customise hallway light timeout
  entities/automation/binary_sensor/hallway_motion_sensor/timeout.yaml
  entities/input_number/hallway_lights_timeout.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations, ha:input-number

#603 Add input datetimes for saving last room clean time
  entities/input_datetime/cosmo/cosmo_last_bathroom_clean.yaml
  entities/input_datetime/cosmo/cosmo_last_bedroom_clean.yaml
  entities/input_datetime/cosmo/cosmo_last_en_suite_clean.yaml
  entities/input_datetime/cosmo/cosmo_last_hallway_clean.yaml
  entities/input_datetime/cosmo/cosmo_last_kitchen_clean.yaml
  entities/input_datetime/cosmo/cosmo_last_lounge_clean.yaml
  entities/input_datetime/cosmo/cosmo_last_office_clean.yaml
Labels: enhancement, bot:keep-updated, minor, ha:input-datetime

#606 Account for new AppDaemon location
  .github/workflows/validate_home_assistant_config.yml
Labels: sync, bot:keep-updated, github-actions, non-functional

#607 Add Add-on folder to external allowlist
  configuration.yaml
Labels: bug, bot:keep-updated, ha:config

#609 Remove bad HA refs
  .github/workflows/validate_home_assistant_config.yml
Labels: sync, bot:keep-updated, github-actions

#611 Add VSCode workspace for add-on
  .vscode/vs-code-addon.code-workspace
Labels: bot:keep-updated, non-functional, tools, chore

#610 Change webhook to update input_text to propagate tag to AD
  entities/automation/webhook/get_latest_appdaemon_release.yaml
  entities/input_text/appdaemon_trigger/ad_get_latest_release.yaml
Labels: bug, bot:keep-updated, ha:automations, ha:input-boolean, ha:input-text

#612 Add Christmas Tree to Vic's button
  entities/automation/remote/lounge_desk/single_press.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#616 Remove deleted AppDaemon Git sensor references
  entities/automation/input_boolean/system/latest_release_downloaded/on.yaml
Labels: bug, bot:keep-updated, ha:automations

#617 Fix room name/ID lookup script
  entities/script/cosmo/cosmo_get_room_id_or_name.yaml
Labels: bug, bot:keep-updated, ha:scripts

#622 Fix no low batteries sensor icon for low battery average < 5
  entities/template/sensor/entity_counts/count_low_batteries.yaml
Labels: bug, bot:keep-updated, ha:template

#625 Fix invalid `for_each` when no extra calls passed to room turn off script
  entities/script/turn_off_physical_room.yaml
Labels: bug, bot:keep-updated, ha:scripts

#626 Update/improve Office Desk Occupation sensor
  entities/template/binary_sensor/office_desk_occupied.yaml
Labels: bot:keep-updated, patch, ha:template, chore

#627 Simplify condition for front door open automation
  entities/automation/binary_sensor/front_door/open.yaml
Labels: bot:keep-updated, patch, ha:automations, chore

#623 Add personal/work MacBooks to `script.notify_will`
  entities/script/notify_will.yaml
Labels: bot:keep-updated, patch, ha:scripts, chore

#629 Add notification ID field to `script.debug_persistent_notification`
  entities/script/debug_persistent_notification.yaml
Labels: enhancement, bot:keep-updated, patch, ha:scripts

#631 Stop auto-reload warning logs
  entities/automation/automation/auto_reload.yaml
  entities/automation/script/auto_reload.yaml
Labels: bug, bot:keep-updated, ha:automations

#633 Fix `sensor.count_low_batteries` undefined attribute on reload/restart
  entities/template/sensor/entity_counts/count_low_batteries.yaml
Labels: bug, ha:template

#635 Add monitor control to Vic's button
  entities/automation/remote/lounge_desk/hold.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#636 Add default value for debug persistent notifications
  entities/script/debug_persistent_notification.yaml
Labels: bug, bot:keep-updated, ha:scripts

#637 Add defaults for template sensor attributes
  entities/template/sensor/entity_counts/count_low_batteries.yaml
  entities/template/sensor/entity_counts/count_stale_entities.yaml
  entities/template/sensor/entity_counts/count_unavailable_entities.yaml
Labels: bug, bot:keep-updated, ha:template

#638 Add notification IDs to debug persistent notifications (avoid dupe notifs)
  entities/automation/cover/bedroom_blinds/register_stop_state.yaml
  entities/automation/cover/lounge_blinds/register_stop_state.yaml
  entities/automation/cover/office_blinds/register_stop_state.yaml
  entities/automation/cover/office_desk/work_mode.yaml
  entities/automation/crt_pi/crt_power_state_from_crt_pi.yaml
  entities/automation/homeassistant/load_gh_cli_on_start.yaml
  entities/automation/homeassistant/reload_all/latest_release_trigger.yaml
  entities/automation/homeassistant/reload_all/mobile_notification_actioned.yaml
  entities/automation/homeassistant/restart/mobile_notification_actioned.yaml
  entities/automation/webhook/update_pull_request_sensor.yaml
  entities/script/mtrxpi_update_display.yaml
Labels: bot:keep-updated, non-functional, ha:automations, ha:scripts, chore

#640 Add extra trigger to `input_select.target_git_branch` options setter
  entities/automation/input_select/target_git_branch/set_options.yaml
  entities/automation/webhook/git_branch_or_tag_created.yaml
Labels: bug, bot:keep-updated, ha:automations

#642 Remove invalid script call from Git tag/branch creation webhook automation
  entities/automation/webhook/git_branch_or_tag_created.yaml
Labels: bug, bot:keep-updated, ha:automations

#641 Remove fragile sensors for MacBook updates
  entities/template/sensor/st_macbook_pro_last_update.yaml
  entities/template/sensor/will_s_macbook_pro_last_update.yaml
Labels: bug, bot:keep-updated, ha:template

#643 Refactor/upgrade "Vic at work" sensor
  entities/template/binary_sensor/vic_at_work.yaml
Labels: enhancement, bot:keep-updated, patch, ha:template

#644 Add `script.notify_vic`
  entities/script/notify_vic.yaml
Labels: enhancement, bot:keep-updated, minor, ha:scripts

#647 Fix invalid defaults for shell commands
  entities/shell_command/checkout_git_branch.yaml
  resources/shell_command/git/checkout_git_branch.sh
Labels: bug, bot:keep-updated, ha:shell-command

#648 Bump Home Assistant version to `2023.12.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#649 Update Git ref entities when target branch selected & checked out
  entities/automation/input_select/target_git_branch/select_option.yaml
  entities/script/shell_command/git/git_pull.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations, ha:scripts

#650 Add Christmas Tree turn on when someone arrives at home
  entities/automation/switch/christmas_tree/turn_on.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#651 Bump Home Assistant version to `2023.12.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#652 Add `input_datetime.home_assistant_start_time` to record start times
  entities/automation/input_datetime/home_assistant_start_time/set_datetime.yaml
  entities/input_datetime/home_assistant_start_time.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-datetime

#653 Deprecate custom workday binary sensor
  entities/template/binary_sensor/workday.yaml
Labels: bot:keep-updated, minor, ha:template, chore

#654 Bump Home Assistant version to `2023.12.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#655 Fix branch switching issues on startup
  entities/automation/input_select/target_git_branch/option_selected.yaml
  entities/automation/input_select/target_git_branch/select_option.yaml
  entities/automation/input_select/target_git_branch/set_options.yaml
  entities/script/input_select/target_git_branch/target_git_branch_set_options.yaml
Labels: bug, bot:keep-updated, ha:automations, ha:scripts

#656 Fix bad syntax for new `script.turn_on` calls
  entities/script/input_select/target_git_branch/target_git_branch_set_options.yaml
Labels: bug, bot:keep-updated, ha:scripts

#658 Fix target git branch script responses
  entities/automation/input_select/target_git_branch/option_selected.yaml
  entities/automation/input_select/target_git_branch/set_options.yaml
  entities/script/input_select/target_git_branch/target_git_branch_set_options.yaml
Labels: bug, bot:keep-updated, ha:automations, ha:scripts

#657 Add script response debugger
  entities/script/system/script_response_debugger.yaml
Labels: bot:keep-updated, patch, ha:scripts, chore

#660 Add clearing functionality to notify scripts
  entities/script/notify_vic.yaml
  entities/script/notify_will.yaml
Labels: enhancement, bot:keep-updated, patch, ha:scripts

#661 Add better defaults and exception handling to notify scripts
  entities/script/notify_vic.yaml
  entities/script/notify_will.yaml
Labels: enhancement, bot:keep-updated, patch, ha:scripts

#664 Add proper defaults for `script.notify_<person>`
  entities/script/notify_vic.yaml
  entities/script/notify_will.yaml
Labels: bug, ha:scripts

#620 Automate Cosmo the RoboVacuum
  .pre-commit-config.yaml
  entities/automation/cosmo/clean_due.yaml
  entities/automation/cosmo/clean_flat.yaml
  entities/automation/cosmo/nightly_kitchen_clean.yaml
  entities/automation/input_datetime/cosmo/next_clean_due/set.yaml
  entities/automation/input_datetime/cosmo/room_last_cleaned/set.yaml
  entities/automation/input_number/cosmo/room_timeout/set.yaml
  entities/automation/mobile_app_notification_action/cosmo/clean_now.yaml
  entities/automation/mobile_app_notification_action/cosmo/ignore_request.yaml
  entities/automation/mobile_app_notification_action/cosmo/remind_later.yaml
  entities/input_datetime/cosmo/last_clean/cosmo_last_bathroom_clean.yaml
  entities/input_datetime/cosmo/last_clean/cosmo_last_bedroom_clean.yaml
  entities/input_datetime/cosmo/last_clean/cosmo_last_en_suite_clean.yaml
  entities/input_datetime/cosmo/last_clean/cosmo_last_hallway_clean.yaml
  entities/input_datetime/cosmo/last_clean/cosmo_last_kitchen_clean.yaml
  entities/input_datetime/cosmo/last_clean/cosmo_last_lounge_clean.yaml
  entities/input_datetime/cosmo/last_clean/cosmo_last_office_clean.yaml
  entities/input_datetime/cosmo/next_clean_due/cosmo_next_bathroom_clean_due.yaml
  entities/input_datetime/cosmo/next_clean_due/cosmo_next_bedroom_clean_due.yaml
  entities/input_datetime/cosmo/next_clean_due/cosmo_next_en_suite_clean_due.yaml
  entities/input_datetime/cosmo/next_clean_due/cosmo_next_hallway_clean_due.yaml
  entities/input_datetime/cosmo/next_clean_due/cosmo_next_kitchen_clean_due.yaml
  entities/input_datetime/cosmo/next_clean_due/cosmo_next_lounge_clean_due.yaml
  entities/input_datetime/cosmo/next_clean_due/cosmo_next_office_clean_due.yaml
  entities/input_number/cosmo/cosmo_room_timeout_bathroom.yaml
  entities/input_number/cosmo/cosmo_room_timeout_bedroom.yaml
  entities/input_number/cosmo/cosmo_room_timeout_en_suite.yaml
  entities/input_number/cosmo/cosmo_room_timeout_hallway.yaml
  entities/input_number/cosmo/cosmo_room_timeout_kitchen.yaml
  entities/input_number/cosmo/cosmo_room_timeout_lounge.yaml
  entities/input_number/cosmo/cosmo_room_timeout_office.yaml
  entities/script/cosmo/cosmo_clean_room.yaml
  entities/script/cosmo/cosmo_get_room_id_or_name.yaml
  entities/script/cosmo/cosmo_send_clean_requests.yaml
  entities/script/cosmo/cosmo_set_cleaning_sequence.yaml
  entities/script/cosmo/cosmo_tag_scanned.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-datetime, ha:input-number, ha:scripts

#665 Fix bad defaults in script
  entities/script/cosmo/cosmo_clean_room.yaml
Labels: bug, bot:keep-updated, ha:scripts

#666 Fix invalid variable
  entities/script/cosmo/cosmo_clean_room.yaml
Labels: bug, bot:keep-updated, ha:scripts

#667 Fix bug in wait condition for Cosmo door check
  entities/automation/cosmo/nightly_kitchen_clean.yaml
  entities/script/cosmo/cosmo_clean_room.yaml
Labels: bug, bot:keep-updated, ha:automations, ha:scripts

#668 Bugfixes for hallway auto-on automation
  entities/automation/binary_sensor/hallway_motion_sensor/on.yaml
Labels: bug, bot:keep-updated, ha:automations

#670 Add `time_date` integration
  entities/sensor/time_date.yaml
Labels: enhancement, bot:keep-updated, minor, ha:sensors

#671 Add door-open timeout to Cosmo's cleaning
  entities/script/cosmo/cosmo_clean_room.yaml
Labels: bug, bot:keep-updated, ha:scripts

#676 Bump `home-assistant-config-validator` to 1.3.0
  .pre-commit-config.yaml
Labels: bot:keep-updated, non-functional, chore

#675 Update Cosmo door wait to 2 hours
  entities/script/cosmo/cosmo_clean_room.yaml
Labels: bot:keep-updated, patch, ha:scripts, chore

#672 Add `shell_command.ls`
  entities/shell_command/ls.yaml
Labels: enhancement, bot:keep-updated, minor, ha:shell-command

#673 Add template sensor for Cosmo on front end
  entities/automation/input_select/cosmo_picture/set_options.yaml
  entities/input_select/cosmo_entity_picture.yaml
  entities/template/sensor/person/person_cosmo.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-select, ha:template

#681 Bump Home Assistant version to `2023.12.4`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#684 Add HA `.storage` workaround
  .github/workflows/validate_home_assistant_config.yml
Labels: sync, bot:keep-updated, github-actions

#683 Add UI Lovelace files to folder watcher
  integrations/folder_watcher.yaml
Labels: enhancement, bot:keep-updated, patch

#690 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.dashboard_sandbox.json
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace_dashboards.json
Labels: bot:keep-updated, non-functional, tools, chore
