Repository worgarside/home-assistant, pull requests merged in 2023-10, with the labels that each got.

#451 Initial AppDaemon files
  .github/labeler.yml
  .github/release-drafter.yml
  .github/repo_labels.yml
  .github/workflows/validate_home_assistant_config.yml
  .pre-commit-config.yaml
  .vscode/home-assistant.code-workspace
  appdaemon/appdaemon.yaml
  appdaemon/apps/apps.yaml
  appdaemon/apps/google_fit/fitness_variables.py
  appdaemon/apps/monzo/credit_card_pot_manager.py
  appdaemon/apps/spotify/track_processor.py
  appdaemon/apps/truelayer/bank_balance.py
  appdaemon/poetry.lock
  appdaemon/pyproject.toml
  entities/automation/notification/credit_card_top_up/send.yaml
  entities/automation/task_scheduler/validate_input.yaml
  entities/command_line/sensor/appdaemon_status.yaml
  entities/input_text/task_scheduler_repeat_count.yaml
  entities/input_text/task_scheduler_service_call.yaml
  entities/input_text/task_scheduler_service_kwargs.yaml
  entities/input_text/task_scheduler_trigger_entity_id.yaml
  entities/input_text/task_scheduler_trigger_state.yaml
  entities/media_player/yas_209.yaml
  entities/mqtt/sensor/scheduled_tasks.yaml
  entities/template/sensor/addon_stats/appdaemon_cpu_usage.yaml
  entities/template/sensor/addon_stats/appdaemon_memory_usage.yaml
  integrations/logger.yaml
  integrations/pyscript.yaml
  lovelace/decluttering_templates.yaml
  lovelace/views/system_health.yaml
  pyproject.toml
  pyscript/_archive/nanoleaf/__init__.py
  pyscript/_archive/nanoleaf/triggered_functions.py
  pyscript/_archive/netgear/variables.py
  pyscript/_archive/yas_209/triggered_functions.py
  pyscript/modules/const.py
  pyscript/modules/helpers.py
  pyscript/requirements.txt
  pyscript/scripts/google_fit/__init__.py
  pyscript/scripts/google_fit/variables.py
  pyscript/scripts/monzo/__init__.py
  pyscript/scripts/monzo/services.py
  pyscript/scripts/spotify/__init__.py
  pyscript/scripts/spotify/triggered_functions.py
  pyscript/scripts/spotify/variables.py
  pyscript/scripts/task_scheduler/__init__.py
  pyscript/scripts/task_scheduler/triggered_functions.py
  pyscript/scripts/truelayer/__init__.py
  pyscript/scripts/truelayer/authentication.py
  pyscript/scripts/truelayer/variables.py
  secrets.fake.yaml
Labels: enhancement, python, bot:keep-updated, github-actions, major, ha:automations, ha:input-text, ha:lovelace, ha:media-player, ha:mqtt, ha:pyscript, ha:template, ha:command-line, ha:appdaemon

#462 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/actionlint.yml
Labels: sync, bot:keep-updated, github-actions

#463 Add PCH dep synchroniser
  .pre-commit-config.yaml
Labels: enhancement, bot:keep-updated, patch

#460 Release 2.0.0
  .github/labeler.yml
  .github/release-drafter.yml
  .github/repo_labels.yml
  .github/workflows/actionlint.yml
  .github/workflows/validate_home_assistant_config.yml
  .pre-commit-config.yaml
  .vscode/home-assistant.code-workspace
  appdaemon/appdaemon.yaml
  appdaemon/apps/apps.yaml
  appdaemon/apps/google_fit/fitness_variables.py
  appdaemon/apps/monzo/credit_card_pot_manager.py
  appdaemon/apps/spotify/track_processor.py
  appdaemon/apps/truelayer/bank_balance.py
  appdaemon/poetry.lock
  appdaemon/pyproject.toml
  entities/automation/notification/credit_card_top_up/send.yaml
  entities/automation/task_scheduler/validate_input.yaml
  entities/command_line/sensor/appdaemon_status.yaml
  entities/input_text/task_scheduler_repeat_count.yaml
  entities/input_text/task_scheduler_service_call.yaml
  entities/input_text/task_scheduler_service_kwargs.yaml
  entities/input_text/task_scheduler_trigger_entity_id.yaml
  entities/input_text/task_scheduler_trigger_state.yaml
  entities/media_player/yas_209.yaml
  entities/mqtt/sensor/scheduled_tasks.yaml
  entities/template/sensor/addon_stats/appdaemon_cpu_usage.yaml
  entities/template/sensor/addon_stats/appdaemon_memory_usage.yaml
  entities/template/sensor/entity_counts/count_unavailable_entities.yaml
  integrations/logger.yaml
  integrations/pyscript.yaml
  lovelace/decluttering_templates.yaml
  lovelace/views/system_health.yaml
  poetry.lock
  pyproject.toml
  pyscript/_archive/nanoleaf/__init__.py
  pyscript/_archive/nanoleaf/triggered_functions.py
  pyscript/_archive/netgear/variables.py
  pyscript/_archive/yas_209/triggered_functions.py
  pyscript/modules/const.py
  pyscript/modules/helpers.py
  pyscript/requirements.txt
  pyscript/scripts/google_fit/__init__.py
  pyscript/scripts/google_fit/variables.py
  pyscript/scripts/monzo/__init__.py
  pyscript/scripts/monzo/services.py
  pyscript/scripts/spotify/__init__.py
  pyscript/scripts/spotify/triggered_functions.py
  pyscript/scripts/spotify/variables.py
  pyscript/scripts/task_scheduler/__init__.py
  pyscript/scripts/task_scheduler/triggered_functions.py
  pyscript/scripts/truelayer/__init__.py
  pyscript/scripts/truelayer/authentication.py
  pyscript/scripts/truelayer/variables.py
  secrets.fake.yaml
Labels: dependencies, python, github-actions, major, release, ha:automations, ha:input-text, ha:lovelace, ha:media-player, ha:mqtt, ha:template, bot:delete-on-merge, ha:command-line, ha:appdaemon

#465 Fix deps-only release versioning
  .github/release-drafter.yml
Labels: sync, bot:keep-updated

#464 Merge `main` into `develop`
  pyproject.toml
Labels: non-functional, skip-changelog

#468 Add system log events
  .pre-commit-config.yaml
  dev_tools/hasspi_file_sync/main.py
  integrations/system_log.yaml
  poetry.lock
  pyproject.toml
Labels: enhancement, dependencies, python, bot:keep-updated, minor

#471 Merge `main` into `develop`
  pyproject.toml
Labels: bot:keep-updated, non-functional, skip-changelog

#474 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/create_new_release.yml
  .github/workflows/pr_autoupdate.yml
  .github/workflows/run_sonarcloud_scan.yml
  .github/workflows/validate_home_assistant_config.yml
  .pylintrc
Labels: sync, bot:keep-updated, github-actions

#476 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/pr_autoupdate.yml
Labels: sync, bot:keep-updated, github-actions

#478 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/actionlint.yml
  .github/workflows/ci_deployment.yml
  .github/workflows/ci_validation.yml
  .github/workflows/create_new_release.yml
  .github/workflows/manage_pr.yml
  .github/workflows/manage_repo_labels.yml
  .github/workflows/pr_autoupdate.yml
  .github/workflows/publish_release.yml
  .github/workflows/run_sonarcloud_scan.yml
  .github/workflows/set_pr_auto_merge.yml
  .github/workflows/validate_home_assistant_config.yml
  .pylintrc
Labels: sync, bot:keep-updated, github-actions

#480 Fix pylint config
  .pylintrc
Labels: sync, bot:keep-updated

#481 Add `too-many-arguments` exclusion to `.pylintrc`
  .pylintrc
Labels: sync, bot:keep-updated

#482 Update dashboard control
  entities/automation/switch/st_macbook_pro/turn_off_when_battery_full.yaml
  entities/automation/switch/st_macbook_pro/turn_off_when_undocked.yaml
  entities/automation/switch/st_macbook_pro/turn_on_when_battery_low.yaml
  entities/automation/switch/st_macbook_pro/turn_on_when_docked.yaml
  entities/automation/switch/will_s_macbook_pro/turn_off_when_battery_full.yaml
  entities/automation/switch/will_s_macbook_pro/turn_off_when_undocked.yaml
  entities/automation/switch/will_s_macbook_pro/turn_on_when_battery_low.yaml
  entities/automation/switch/will_s_macbook_pro/turn_on_when_docked.yaml
  entities/template/binary_sensor/st_macbook_pro_docked.yaml
  entities/template/binary_sensor/will_s_macbook_pro_docked.yaml
  lovelace/views/mobile_dashboard.yaml
Labels: bug, bot:keep-updated, patch, ha:automations, ha:lovelace, ha:template

#489 Update `.pylintrc`
  .pylintrc
Labels: sync, bot:keep-updated

#493 Bump Home Assistant version to `2023.10.5`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#496 Add extra functionality to lounge desk button
  entities/automation/remote/lounge_desk/double_press.yaml
  entities/automation/remote/lounge_desk/single_press.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#497 Add mini lamp to dashboard
  lovelace/views/mobile_dashboard.yaml
Labels: enhancement, bot:keep-updated, minor, ha:lovelace

#498 Remove deprecated database count sensors from dashboard
  entities/template/sensor/database_record_count.yaml
  integrations/recorder.yaml
  lovelace/views/system_health.yaml
Labels: bot:keep-updated, patch, ha:lovelace, ha:template, chore

#499 Swap primary Office Desk remote to Zigbee button
  entities/automation/hue_remote/office_desk/button_1/any_press.yaml
  entities/automation/hue_remote/office_desk/button_2_3/any_press.yaml
  entities/automation/hue_remote/office_desk/button_4/any_press.yaml
  entities/automation/remote/office/double_press.yaml
  entities/automation/remote/office/hold.yaml
  entities/automation/remote/office/single_press.yaml
  entities/automation/remote/office_desk/double_press.yaml
  entities/automation/remote/office_desk/hold.yaml
  entities/automation/remote/office_desk/single_press.yaml
  entities/automation/remote/office_speakers/double_press.yaml
  entities/automation/remote/office_speakers/single_press.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#500 Add webhook to get latest release/git command updates
  entities/automation/webhook/get_latest_release.yaml
  entities/command_line/sensor/current_git_branch.yaml
  entities/command_line/sensor/current_git_ref.yaml
  entities/shell_command/checkout_develop_head.yaml
  entities/shell_command/get_latest_release.yaml
  resources/shell_command/git/get_latest_release.sh
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:command-line, ha:shell-command

#501 Enable HACS themes
  .gitignore
  integrations/frontend.yaml
Labels: enhancement, bot:keep-updated, minor, patch

#502 Update Git sensors after `git pull`ing latest reelase
  entities/automation/webhook/get_latest_release.yaml
Labels: bug, bot:keep-updated, ha:automations

#504 Update Pi-Online sensors to be time-since-last-updated based
  entities/binary_sensor/clmtpi_online.yaml
  entities/binary_sensor/crtpi_online.yaml
  entities/binary_sensor/growpi_online.yaml
  entities/binary_sensor/mtrxpi_online.yaml
  entities/binary_sensor/rtropi_online.yaml
  entities/binary_sensor/vsmppi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/clmtpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/crtpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/growpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/mtrxpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/rtropi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/vsmppi_online.yaml
Labels: enhancement, bot:keep-updated, patch, ha:template

#505 Add `last_online` attribute to Pi Online sensors
  entities/template/binary_sensor/raspberry_pi_online/clmtpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/crtpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/growpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/mtrxpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/rtropi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/vsmppi_online.yaml
Labels: enhancement, bot:keep-updated, patch, ha:template

#503 Add new System Health dashboard with mushroom cards
  entities/template/sensor/address_line_1.yaml
  lovelace/dashboards/system_health.yaml
  lovelace/decluttering_templates.yaml
  lovelace/views/log_feeds.yaml
  lovelace/views/system_health.yaml
Labels: enhancement, bot:keep-updated, minor, ha:lovelace, ha:template

#508 🔄 synced file(s) with worgarside/github-config-files
  .github/dependabot.yml
Labels: sync, bot:keep-updated

#510 Deprecate feedparser sensors
  .github/workflows/validate_home_assistant_config.yml
  entities/sensor/critical_feed.yaml
  entities/sensor/debug_feed.yaml
  entities/sensor/error_feed.yaml
  entities/sensor/info_feed.yaml
  entities/sensor/log_feed.yaml
  entities/sensor/warning_feed.yaml
Labels: bot:keep-updated, github-actions, patch, ha:sensors, chore

#511 Update swipe navigation for lovelace
  integrations/lovelace.yaml
Labels: bot:keep-updated, patch, chore

#512 Deprecate `useful-devops-scripts` repo
  entities/command_line/sensor/github_pull_requests/useful_devops_scripts_pull_requests.yaml
  lovelace/views/github.yaml
Labels: bot:keep-updated, patch, ha:lovelace, chore, ha:command-line

#513 Fix broken template in CC pot notification sender
  entities/automation/notification/credit_card_top_up/send.yaml
Labels: bug, bot:keep-updated, ha:automations
