Repository worgarside/home-assistant, pull requests merged in 2024-03, with the labels that each got.

#792 Update HACV to 3.1.1
  .pre-commit-config.yaml
  config_validator.yml
  entities/template_triggered/sensor/cosmo_room_lookup.yaml
  entities/template_triggered/sensor/system_reloadable_files_changed.yaml
  entities/template_triggered/sensor/system_restart_required_files_changed.yaml
  entities/template_triggered/sensor/will_s_yas_209_bridge_input.yaml
  integrations/README.md
  integrations/template_triggered.yaml
Labels: bot:keep-updated, documentation, refactor

#793 Refactor `sensor.topaz_sr10_active_child` to delay 2.5s for Spotify
  config_validator.yml
  entities/template/sensor/topaz_sr10/topaz_sr10_active_child.yaml
  entities/template_triggered/sensor/topaz_sr10_active_child.yaml
  integrations/README.md
Labels: bot:keep-updated, ha:template, documentation, refactor

#794 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#795 Bump Home Assistant version to `2024.2.5`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#798 Fix Spotify entity ID
  entities/automation/crt_pi/update_display.yaml
  entities/automation/mtrxpi/update_display.yaml
  entities/input_select/crt_pi_display_source.yaml
  entities/input_select/lounge_shapes_artwork_mapping_source.yaml
  entities/input_select/mtrxpi_display_source.yaml
  entities/input_select/office_shapes_artwork_mapping_source.yaml
  entities/template/sensor/spotify/spotify_will_garside_media_album_artwork_internal_url.yaml
  entities/template/sensor/spotify/spotify_will_garside_media_album_name.yaml
  entities/template/sensor/spotify/spotify_will_garside_media_artist.yaml
  entities/template/sensor/spotify/spotify_will_garside_media_title.yaml
  lovelace/archive/media_dashboard.yaml
Labels: bug, bot:keep-updated, ha:automations, ha:input-select, ha:lovelace, ha:template

#800 Bump Home Assistant version to `2024.3.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#801 Add automation for Kitchen Spotlight control
  entities/automation/remote/kitchen.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#802 Add variables to automations and scripts in README
  config_validator.yml
  integrations/README.md
Labels: bot:keep-updated, non-functional, chore, documentation

#804 Toggle kitchen light mode at night
  entities/automation/remote/kitchen.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, patch, ha:automations, documentation

#805 Bump Home Assistant version to `2024.3.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#806 Add InfluxDB configuration
  integrations/influxdb.yaml
Labels: enhancement, bot:keep-updated, minor

#807 Fix `influxdb` integration :(
  integrations/influxdb.yaml
Labels: bug, bot:keep-updated
