Repository worgarside/home-assistant, pull requests merged in 2024-04, with the labels that each got.

#809 Bump Home Assistant version to `2024.3.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#812 Bump Home Assistant version to `2024.4.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#813 Bump Home Assistant version to `2024.4.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#811 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.dashboard_sandbox.json
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace.map.json
  lovelace/dashboards/ui_only/lovelace_dashboards.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#816 Bump Home Assistant version to `2024.4.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#819 Bump to Python 3.12
  .github/workflows/ci_deployment.yml
  .github/workflows/ci_validation.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  sonar-project.properties
Labels: enhancement, dependencies, bot:keep-updated, github-actions, minor

#820 Add default for Topaz state template
  entities/media_player/topaz_sr10.yaml
Labels: bug, bot:keep-updated, ha:media-player

#822 Add `binary_sensor.before_midday`
  entities/template/binary_sensor/before_midday.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:template, documentation

#823 Bump Home Assistant version to `2024.4.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#824 Add `sensor.current_hour`
  entities/template/sensor/current_hour.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:template, documentation

#825 Add `sensor.time_of_day`
  entities/template/sensor/time_of_day.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:template, documentation

#826 Bump `home-assistant-config-validator` to 4.0.0
  .pre-commit-config.yaml
  integrations/README.md
Labels: bot:keep-updated, patch, tools, chore, documentation

#817 Add Aqara H1 Wireless Remote for Kitchen
  .pre-commit-config.yaml
  custom_zha_quirks/aqara_h1_remote.py
  entities/automation/remote/kitchen.yaml
  entities/script/light/kitchen_spotlights/turn_off_kitchen_spotlights.yaml
  entities/script/light/kitchen_spotlights/turn_on_kitchen_spotlights.yaml
  entities/var/boolean_flags/boolean_flag_kitchen_lights.yaml
  integrations/README.md
  poetry.lock
  pyproject.toml
Labels: enhancement, dependencies, python, bot:keep-updated, minor, ha:automations, ha:scripts, ha:variables, documentation

#828 Add combo switch for MtrxPi (Pi+Matrix)
  entities/automation/switch/mtrxpi_power/off.yaml
  entities/automation/switch/mtrxpi_power/on.yaml
  entities/switch/mtrxpi_power.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:switch, documentation

#829 Add automation to keep Kitchen light variable up to date
  entities/automation/light/kitchen_spotlights/on_off.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, minor, ha:automations, documentation

#830 Fix inverted icon for `switch.mtrxpi_power`
  entities/switch/mtrxpi_power.yaml
Labels: bug, bot:keep-updated, ha:switch

#831 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#833 Remove references to deprecated entities
  .pre-commit-config.yaml
  entities/automation/crt_pi/update_display.yaml
  entities/automation/mtrxpi/update_display.yaml
  entities/automation/remote/lounge_desk/hold.yaml
  entities/automation/remote/lounge_desk/single_press.yaml
  entities/automation/switch/st_macbook_pro/turn_off_when_battery_full.yaml
  entities/automation/switch/st_macbook_pro/turn_off_when_undocked.yaml
  entities/automation/switch/st_macbook_pro/turn_on_when_battery_low.yaml
  entities/automation/switch/st_macbook_pro/turn_on_when_docked.yaml
  entities/automation/switch/will_s_macbook_pro/turn_off_when_battery_full.yaml
  entities/automation/switch/will_s_macbook_pro/turn_off_when_undocked.yaml
  entities/automation/switch/will_s_macbook_pro/turn_on_when_battery_low.yaml
  entities/automation/switch/will_s_macbook_pro/turn_on_when_docked.yaml
  entities/input_select/crt_pi_display_source.yaml
  entities/input_select/lounge_shapes_artwork_mapping_source.yaml
  entities/input_select/mtrxpi_display_source.yaml
  entities/input_select/office_shapes_artwork_mapping_source.yaml
  entities/template/sensor/yas_209_local_ip.yaml
  integrations/README.md
  lovelace/archive/media_dashboard.yaml
  lovelace/views/mobile_dashboard.yaml
Labels: bot:keep-updated, patch, ha:automations, ha:input-select, ha:lovelace, ha:template, chore, documentation

#837 Add Tomorrow.io realtime API sensor
  entities/sensor/tomorrow_io_realtime_weather.yaml
  entities/template/sensor/nature/sun_elevation.yaml
  entities/template/sensor/nature/time_of_day.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_cloud_base.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_cloud_ceiling.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_cloud_cover.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_dew_point.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_freezing_rain_intensity.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_humidity.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_precipitation_probability.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_pressure_surface_level.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_rain_intensity.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_sleet_intensity.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_snow_intensity.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_temperature.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_temperature_apparent.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_uv_health_concern.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_uv_index.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_visibility.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_weather_code.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_wind_direction.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_wind_gust.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_wind_speed.yaml
  integrations/README.md
  secrets.fake.yaml
Labels: enhancement, bot:keep-updated, minor, ha:sensors, ha:template, documentation

#838 Add sensors for Pi local IP addresses
  entities/mqtt/sensor/clmtpi/local_ip_address.yaml
  entities/mqtt/sensor/crtpi/local_ip_address.yaml
  entities/mqtt/sensor/growpi/local_ip_address.yaml
  entities/mqtt/sensor/mtrxpi/local_ip_address.yaml
  entities/mqtt/sensor/octopi/local_ip_address.yaml
  entities/mqtt/sensor/rtropi/local_ip_address.yaml
  entities/mqtt/sensor/vsmppi/local_ip_address.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:mqtt, documentation

#839 `pre-commit autoupdate`
  .pre-commit-config.yaml
Labels: bot:keep-updated, non-functional, chore

#840 Fix MtrxPi template switch state
  entities/switch/mtrxpi_power.yaml
Labels: bug, bot:keep-updated, ha:switch

#832 Add LED Matrix controls
  entities/automation/mtrxpi/content_trigger/gif_door_animated.yaml
  entities/automation/mtrxpi/content_trigger/raining_grid.yaml
  entities/automation/mtrxpi/display_source_changed.yaml
  entities/automation/mtrxpi/update_display.yaml
  entities/automation/script/mtrxpi_update_display/mqtt_trigger.yaml
  entities/input_select/mtrxpi_display_source.yaml
  entities/mqtt/number/mtrxpi/raining_grid/rain_chance.yaml
  entities/mqtt/number/mtrxpi/raining_grid/rain_speed.yaml
  entities/mqtt/number/mtrxpi/raining_grid/splash_speed.yaml
  entities/mqtt/sensor/mtrxpi/current_content.yaml
  entities/script/mtrxpi/mtrxpi_queue_content.yaml
  entities/script/mtrxpi_update_display.yaml
  entities/sensor/tomorrow_io_realtime_weather.yaml
  entities/template/sensor/nature/time_of_day.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_rain_intensity.yaml
  entities/template/sensor/nature/tomorrow_io/tomorrow_io_weather_code.yaml
  integrations/README.md
  integrations/mqtt.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-select, ha:mqtt, ha:scripts, ha:sensors, ha:template, documentation

#834 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#845 Update tomorrow.io poll rate
  entities/sensor/tomorrow_io_realtime_weather.yaml
Labels: bug, bot:keep-updated, ha:sensors

#846 Add de-duping notification ID to MtrxPi debug notifs
  entities/script/mtrxpi/mtrxpi_queue_content.yaml
Labels: bot:keep-updated, patch, ha:scripts, chore

#847 Add brightness control for LED Matrix
  config_validator.yml
  entities/automation/input_number/rgb_led_matrix_brightness/update_mtrxpi.yaml
  entities/input_number/rgb_led_matrix_brightness.yaml
  entities/mqtt/binary_sensor/rgb_led_matrix.yaml
  entities/mqtt/number/mtrxpi/matrix/brightness.yaml
  entities/mqtt/number/mtrxpi/raining_grid/rain_chance.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number, ha:mqtt, documentation

#848 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#849 Add automation for Lounge rocker switch
  entities/automation/remote/lounge.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#850 Fix bad template weather sensor default
  entities/sensor/tomorrow_io_realtime_weather.yaml
Labels: bug, bot:keep-updated, ha:sensors

#851 Add/fix defaults in notify scripts
  entities/script/notify_vic.yaml
  entities/script/notify_will.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:scripts, documentation

#854 Add rounding to rain chance automation
  entities/automation/mtrxpi/content_trigger/raining_grid.yaml
Labels: bug, bot:keep-updated, ha:automations
