Repository worgarside/home-assistant, pull requests merged in 2024-09, with the labels that each got.

#1409 Update desk occupation template sensor
  entities/template/binary_sensor/office_desk_occupied.yaml
  entities/template/sensor/st_macbook_pro_last_update.yaml
  entities/template/sensor/will_s_macbook_pro_last_update.yaml
  integrations/README.md
Labels: bot:keep-updated, ha:template, documentation, refactor

#1411 Add automation for beanbag/mushroom light
  entities/automation/presence/office/beanbag.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1412 Fix `brightness` key
  entities/automation/presence/office/beanbag.yaml
Labels: bug, ha:automations

#1416 Fix logic for occupation sensor
  entities/template/binary_sensor/office_desk_occupied.yaml
Labels: bug, bot:keep-updated, ha:template

#1421 Bump Home Assistant version to `2024.9.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1423 Bump Home Assistant version to `2024.9.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1434 Add MQTT entities for MtrxPi plants
  entities/mqtt/number/mtrxpi/raining_grid/distance_between_plants.yaml
  entities/mqtt/number/mtrxpi/raining_grid/leaf_growth_chance.yaml
  entities/mqtt/number/mtrxpi/raining_grid/plant_death_propagation_speed.yaml
  entities/mqtt/number/mtrxpi/raining_grid/plant_growth_chance.yaml
  entities/mqtt/number/mtrxpi/raining_grid/plant_limit.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:mqtt, documentation

#1437 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1439 Update `logger` filters
  integrations/logger.yaml
Labels: bot:keep-updated, patch, chore

#1444 Bump Home Assistant version to `2024.9.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1448 Update references to work MBP
  entities/script/notify_will.yaml
  entities/template/binary_sensor/office_desk_occupied.yaml
  entities/template/binary_sensor/st_macbook_pro_docked.yaml
  entities/template/binary_sensor/work_macbook_pro_docked.yaml
  entities/template_triggered/sensor/topaz_sr10_active_child.yaml
  integrations/README.md
Labels: bot:keep-updated, ha:scripts, ha:template, documentation, refactor

#1449 Add automation to turn desk lamp on in dark office
  entities/automation/light/desk_lamp/turn_on.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1451 Auto-turn desk lamp off too
  entities/automation/light/desk_lamp/turn_on.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#1452 Fix brightness setting for desk lamp
  entities/automation/light/desk_lamp/turn_on.yaml
Labels: bug, bot:keep-updated, ha:automations

#1450 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1269 Add auto-reload automation
  entities/automation/automation/auto_reload.yaml
  entities/automation/event/repair/state_change.yaml
  entities/automation/homeassistant/clear_queued_service_reload.yaml
  entities/automation/homeassistant/clear_service_reload_queue_on_start.yaml
  entities/automation/homeassistant/handle_service_reload.yaml
  entities/automation/notification/system/reload_required/send.yaml
  entities/automation/notification/system/restart_required/send.yaml
  entities/automation/script/auto_reload.yaml
  entities/input_boolean/auto_reload/auto_reload_automation.yaml
  entities/input_boolean/auto_reload/auto_reload_command_line.yaml
  entities/input_boolean/auto_reload/auto_reload_conversation.yaml
  entities/input_boolean/auto_reload/auto_reload_group.yaml
  entities/input_boolean/auto_reload/auto_reload_input_boolean.yaml
  entities/input_boolean/auto_reload/auto_reload_input_button.yaml
  entities/input_boolean/auto_reload/auto_reload_input_datetime.yaml
  entities/input_boolean/auto_reload/auto_reload_input_number.yaml
  entities/input_boolean/auto_reload/auto_reload_input_select.yaml
  entities/input_boolean/auto_reload/auto_reload_input_text.yaml
  entities/input_boolean/auto_reload/auto_reload_mqtt.yaml
  entities/input_boolean/auto_reload/auto_reload_rest.yaml
  entities/input_boolean/auto_reload/auto_reload_rest_command.yaml
  entities/input_boolean/auto_reload/auto_reload_scene.yaml
  entities/input_boolean/auto_reload/auto_reload_schedule.yaml
  entities/input_boolean/auto_reload/auto_reload_script.yaml
  entities/input_boolean/auto_reload/auto_reload_template.yaml
  entities/input_boolean/auto_reload/auto_reload_timer.yaml
  entities/input_boolean/auto_reload/auto_reload_universal.yaml
  entities/input_boolean/auto_reload/auto_reload_var.yaml
  entities/input_boolean/auto_reload/auto_reload_zone.yaml
  entities/var/auto_reload_queue.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-boolean, ha:variables, documentation

#1454 Add state manager var for Will's desk
  .gitignore
  entities/automation/binary_sensor/will_s_desk_occupancy/state_change.yaml
  entities/automation/fan/desk_fan/state_change.yaml
  entities/automation/light/desk_lamp/state_change.yaml
  entities/automation/light/desk_lamp/turn_on.yaml
  entities/automation/light/office_shapes/state_change.yaml
  entities/automation/var/will_s_desk_state_manager/attribute_timeout.yaml
  entities/var/will_s_desk_state_manager.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-boolean, ha:variables, documentation

#1460 Turn Globe lamp on when blinds are closed (Coffee Table button)
  entities/automation/remote/coffee_table/single_press.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#1461 Update bedroom Hue remote functionality
  entities/automation/hue_remote/bedroom/button_1/press.yaml
  entities/automation/hue_remote/bedroom/button_2/long_press.yaml
  entities/automation/hue_remote/bedroom/button_2/press.yaml
  entities/automation/hue_remote/bedroom/button_3/long_press.yaml
  entities/automation/hue_remote/bedroom/button_3/press.yaml
  integrations/README.md
Labels: bot:keep-updated, patch, ha:automations, documentation, refactor

#1462 Don't log `restart_required` events as GitHub issues
  entities/automation/event/repair/state_change.yaml
Labels: bug, bot:keep-updated, ha:automations

#1463 Automate disco light on/off
  entities/automation/light/disco_light/turn_off.yaml
  entities/automation/light/disco_light/turn_on.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1464 Auto-close blinds when lights are turned on after dark
  entities/automation/light/bedroom_lights/on.yaml
  entities/automation/light/lounge_lights/on.yaml
  entities/automation/light/office_lights/on.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1465 Add mini lamp to kitchen remote control
  entities/automation/remote/kitchen.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, patch, ha:automations, documentation

#1469 Update occupancy to be Office-based, not desk-based
  entities/automation/binary_sensor/office_presence_sensor/state_change.yaml
  integrations/README.md
Labels: bot:keep-updated, ha:automations, documentation, refactor

#1468 Update work mode automation conditions
  entities/automation/cover/office_desk/work_mode.yaml
Labels: bot:keep-updated, ha:automations, refactor
