Repository worgarside/home-assistant, pull requests merged in 2024-12, with the labels that each got.

#1682 Add MQTT entities for audio visualiser
  config_validator.yml
  entities/automation/mtrxpi/content_trigger/audio_visualiser.yaml
  entities/input_number/mtrxpi/queue_position/mtrxpi_audio_visualiser_queue_position.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/chunk_size.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/colormap_length.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/cutoff_frequency.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/high_freq_x.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/high_freq_y.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/low_freq_x.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/low_freq_y.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/sample_rate.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/x_pos.yaml
  entities/mqtt/number/mtrxpi/audio_visualiser/y_pos.yaml
  entities/mqtt/number/mtrxpi/raining_grid/plant_death_propagation_speed.yaml
  entities/mqtt/number/mtrxpi/raining_grid/plant_decay_propagation_speed.yaml
  entities/mqtt/sensor/mtrxpi/audio_processor/max_magnitude.yaml
  entities/mqtt/text/mtrxpi/audio_visualiser/high_magnitude_hex_color.yaml
  entities/mqtt/text/mtrxpi/audio_visualiser/low_magnitude_hex_color.yaml
  entities/script/mtrxpi/audio_visualiser/mtrxpi_audio_visualiser_set_colors.yaml
  entities/script/mtrxpi/mtrxpi_queue_content.yaml
  integrations/README.md
  integrations/mqtt_text.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number, ha:mqtt, ha:scripts, documentation

#1683 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1703 Bump Home Assistant version to `2024.12.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1709 Keep the diffuser's light in sync with the diffuser state
  entities/automation/switch/lounge_diffuser/state_change.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, documentation

#1711 Bump Home Assistant version to `2024.12.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1705 Update tomorrow.io sensor(s)
  config_validator.yml
  entities/rest/tomorrow_io_realtime_weather.yaml
  entities/sensor/tomorrow_io_realtime_weather.yaml
  esphome/esp32-bluetooth-proxy-377544.yaml
  esphome/esp32-bluetooth-proxy.yaml
  esphome/esp32-moisture-sensor-1.yaml
  esphome/esp32-moisture-sensor-2.yaml
  integrations/README.md
  integrations/rest.yaml
  secrets.fake.yaml
Labels: enhancement, bot:keep-updated, minor, ha:sensors, documentation, ha:esphome

#1720 Bump Home Assistant version to `2024.12.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1721 Bump Home Assistant version to `2024.12.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1725 Bump Home Assistant version to `2024.12.4`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1728 Bump Home Assistant version to `2024.12.5`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1730 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1731 Add sensor for Z2M network map card
  .gitignore
  entities/mqtt/sensor/zigbee2mqtt/network_map.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, patch, ha:mqtt, documentation

#1735 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1763 Update Zigbee device ID
  entities/automation/remote/will_s_desk/button_1/double.yaml
  entities/automation/remote/will_s_desk/button_1/hold.yaml
  entities/automation/remote/will_s_desk/button_1/single.yaml
Labels: bug, bot:keep-updated, ha:automations
