Repository worgarside/home-assistant, pull requests merged in 2024-06, with the labels that each got.

#924 Reduce logging noise
  integrations/logger.yaml
Labels: bot:keep-updated, patch, chore

#926 Add better escaping to `shell_command.write_file`
  entities/script/shell_command/gh_cli/gh_issue_create.yaml
  entities/shell_command/file_operations/write_file.yaml
Labels: bug, bot:keep-updated, ha:scripts, ha:shell-command

#929 Remove `london_air` integration
  entities/sensor/london_air.yaml
  integrations/README.md
  lovelace/archive/london.yaml
  lovelace/decluttering_templates.yaml
Labels: bug, bot:keep-updated, ha:lovelace, ha:sensors, documentation

#930 Disable carpet boost for nightly clean
  entities/automation/cosmo/nightly_kitchen_clean.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#931 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#938 Ensure carpet boost isn't turned back on immediately
  entities/automation/cosmo/nightly_kitchen_clean.yaml
Labels: bug, bot:keep-updated, ha:automations

#942 #940: Update Cosmo's nightly clean wait/delay logic
  entities/automation/cosmo/nightly_kitchen_clean.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, documentation

#947 Bump Home Assistant version to `2024.6.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#948 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#950 Add delays to protect Topaz SR10
  entities/automation/media_player/topaz_sr10/on.yaml
  entities/automation/remote/office/hold.yaml
  entities/script/media_player/topaz_sr10/topaz_sr10_turn_off.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, ha:scripts, documentation

#953 Bump Home Assistant version to `2024.6.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#954 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#952 Add MQTT switches for OctoPi fans
  .vscode/home-assistant.code-workspace
  entities/automation/input_number/prusa_i3_mk3/bed_target/set.yaml
  entities/automation/input_number/prusa_i3_mk3/tool_0_target/set.yaml
  entities/automation/octopi/cpu_fan_control.yaml
  entities/automation/octopi/send_fan_mqtt_message.yaml
  entities/automation/prusa_i3_mk3/enclosure/send_fan_mqtt_message.yaml
  entities/automation/remote/prusa_i3_mk3_power/double_press.yaml
  entities/automation/sensor/octoprint_bed_target/set.yaml
  entities/automation/sensor/octoprint_tool_0_target/set.yaml
  entities/automation/switch/prusa_i3_mk3_power/off.yaml
  entities/input_boolean/prusa_i3_mk3_enclosure_fan.yaml
  entities/input_number/prusa_i3_mk3/prusa_i3_mk3_target_bed_temperature.yaml
  entities/input_number/prusa_i3_mk3/prusa_i3_mk3_target_hotend_temperature.yaml
  entities/mqtt/number/prusa_i3/target_bed_temperature.yaml
  entities/mqtt/number/prusa_i3/target_hotend_temperature.yaml
  entities/mqtt/switch/octopi/cpu_fan.yaml
  entities/mqtt/switch/prusa_i3/enclosure_fan.yaml
  entities/switch/prusa_i3_mk3_power.yaml
  integrations/README.md
  integrations/mqtt.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-boolean, ha:input-number, ha:mqtt, ha:switch, documentation

#956 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#957 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#960 Fix syntax error in decluttering template
  lovelace/decluttering_templates.yaml
Labels: bug, bot:keep-updated, ha:lovelace

#962 Update GH CLI usage for multi-user
  entities/shell_command/approve_pull_request.yaml
  entities/shell_command/comment_on_pr.yaml
  entities/shell_command/gh.yaml
  entities/shell_command/mark_pr_as_ready_for_review.yaml
  entities/shell_command/set_pr_auto_merge.yaml
  entities/shell_command/toggle_pr_label.yaml
  resources/shell_command/gh_cli/approve_pull_request.sh
  resources/shell_command/gh_cli/comment_on_pr.sh
  resources/shell_command/gh_cli/get_gh_cli.sh
  resources/shell_command/gh_cli/mark_pr_as_ready_for_review.sh
  resources/shell_command/gh_cli/set_pr_auto_merge.sh
  resources/shell_command/gh_cli/toggle_pr_label.sh
Labels: enhancement, bot:keep-updated, minor, ha:shell-command

#966 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#967 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#970 Add Grafana/InfluxDB add-on sensors & housekeeping on existing ones
  entities/command_line/sensor/addons/adguard_status.yaml
  entities/command_line/sensor/addons/appdaemon_status.yaml
  entities/command_line/sensor/addons/esphome_add_on_status.yaml
  entities/command_line/sensor/addons/google_drive_backup_add_on_status.yaml
  entities/command_line/sensor/addons/grafana_status.yaml
  entities/command_line/sensor/addons/influxdb_status.yaml
  entities/command_line/sensor/addons/item_warehouse_api.yaml
  entities/command_line/sensor/addons/item_warehouse_website.yaml
  entities/command_line/sensor/addons/mariadb_status.yaml
  entities/command_line/sensor/addons/matter_server_status.yaml
  entities/command_line/sensor/addons/mosquitto_broker_status.yaml
  entities/command_line/sensor/addons/plex_media_server_status.yaml
  entities/command_line/sensor/addons/silicon_labs_multiprotocol_add_on_status.yaml
  entities/command_line/sensor/addons/terminal_ssh_add_on_status.yaml
  entities/command_line/sensor/addons/visual_studio_code_add_on_status.yaml
  entities/command_line/sensor/addons/yas_209_bridge_status.yaml
  entities/command_line/sensor/ha_remote_logger_status.yaml
  entities/template/sensor/addon_stats/adguard_cpu_usage.yaml
  entities/template/sensor/addon_stats/adguard_memory_usage.yaml
  entities/template/sensor/addon_stats/appdaemon_cpu_usage.yaml
  entities/template/sensor/addon_stats/appdaemon_memory_usage.yaml
  entities/template/sensor/addon_stats/esphome_add_on_cpu_usage.yaml
  entities/template/sensor/addon_stats/esphome_add_on_memory_usage.yaml
  entities/template/sensor/addon_stats/google_drive_backup_add_on_cpu_usage.yaml
  entities/template/sensor/addon_stats/google_drive_backup_add_on_memory_usage.yaml
  entities/template/sensor/addon_stats/grafana_cpu_usage.yaml
  entities/template/sensor/addon_stats/grafana_memory_usage.yaml
  entities/template/sensor/addon_stats/ha_remote_logger_cpu_usage.yaml
  entities/template/sensor/addon_stats/ha_remote_logger_memory_usage.yaml
  entities/template/sensor/addon_stats/influxdb_cpu_usage.yaml
  entities/template/sensor/addon_stats/influxdb_memory_usage.yaml
  entities/template/sensor/addon_stats/item_warehouse_api_cpu_usage.yaml
  entities/template/sensor/addon_stats/item_warehouse_api_memory_usage.yaml
  entities/template/sensor/addon_stats/item_warehouse_website_cpu_usage.yaml
  entities/template/sensor/addon_stats/item_warehouse_website_memory_usage.yaml
  entities/template/sensor/addon_stats/mariadb_cpu_usage.yaml
  entities/template/sensor/addon_stats/mariadb_memory_usage.yaml
  entities/template/sensor/addon_stats/matter_server_cpu_usage.yaml
  entities/template/sensor/addon_stats/matter_server_memory_usage.yaml
  entities/template/sensor/addon_stats/mosquitto_broker_cpu_usage.yaml
  entities/template/sensor/addon_stats/mosquitto_broker_memory_usage.yaml
  entities/template/sensor/addon_stats/plex_media_server_cpu_usage.yaml
  entities/template/sensor/addon_stats/plex_media_server_memory_usage.yaml
  entities/template/sensor/addon_stats/silicon_labs_multiprotocol_add_on_cpu_usage.yaml
  entities/template/sensor/addon_stats/silicon_labs_multiprotocol_add_on_memory_usage.yaml
  entities/template/sensor/addon_stats/terminal_ssh_add_on_cpu_usage.yaml
  entities/template/sensor/addon_stats/terminal_ssh_add_on_memory_usage.yaml
  entities/template/sensor/addon_stats/visual_studio_code_add_on_cpu_usage.yaml
  entities/template/sensor/addon_stats/visual_studio_code_add_on_memory_usage.yaml
  entities/template/sensor/addon_stats/yas_209_bridge_cpu_usage.yaml
  entities/template/sensor/addon_stats/yas_209_bridge_memory_usage.yaml
  integrations/README.md
  secrets.fake.yaml
Labels: enhancement, bot:keep-updated, minor, ha:template, documentation, ha:command-line

#968 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#974 Add `var.auto_save_cumulative_total` for auto-saver tracking
  entities/var/auto_save_amount.yaml
  entities/var/auto_save_cumulative_total.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:variables, documentation

#973 Add script for generating color codes
  dev_tools/add_webhook_to_repo.fish
  dev_tools/color_generator.py
  dev_tools/hasspi_file_sync.py
Labels: python, bot:keep-updated, non-functional, chore

#975 Bump Home Assistant version to `2024.6.4`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#976 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#982 Add Bash & Python subshell shell commands
  entities/shell_command/bash_subshell.yaml
  entities/shell_command/python_subshell.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, documentation, ha:shell-command

#983 Fix/simplify `shell_command.write_file` escaping
  entities/shell_command/file_operations/write_file.yaml
Labels: bug, bot:keep-updated, ha:shell-command

#977 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, patch, ha:lovelace, chore

#978 Add `sensor.current_gh_cli_user`
  entities/command_line/sensor/current_gh_cli_user.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, documentation, ha:command-line

#990 Add controls to select active GH CLI user
  entities/automation/gh_cli/user_updated.yaml
  entities/automation/input_select/gh_cli_active_user/option_selected.yaml
  entities/input_select/gh_cli_active_user.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-select, documentation

#991 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#995 Update file read/write shell commands to use base64
  entities/shell_command/file_operations/read_file.yaml
  entities/shell_command/file_operations/write_file.yaml
Labels: bug, ha:shell-command

#998 Add Base64 En/Decode file shell commands
  entities/shell_command/file_operations/base64_decode_file.yaml
  entities/shell_command/file_operations/base64_encode_file.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, documentation, ha:shell-command

#1014 Always overwrite file in `shell_command.write_file`
  entities/shell_command/file_operations/write_file.yaml
Labels: bug, bot:keep-updated, minor, ha:shell-command

#1016 Update `script.gh_issue_create` for base64 file handling
  entities/script/shell_command/gh_cli/gh_issue_create.yaml
Labels: bug, bot:keep-updated, ha:scripts

#1017 Add list of `sensor.time_of_day` states as attribute
  entities/template/sensor/nature/time_of_day.yaml
Labels: enhancement, bot:keep-updated, non-functional, ha:template

#1015 Automate repair logging as GitHub issue
  entities/automation/event/repair/state_change.yaml
  entities/template/sensor/nature/time_of_day.yaml
  integrations/README.md
Labels: enhancement, minor, ha:automations, ha:template, documentation

#1018 Fail HA validation for stable builds too
  .github/workflows/validate_home_assistant_config.yml
Labels: sync, bot:keep-updated, github-actions

#1030 Remove test value from GH CLI `gh issue list`
  entities/automation/event/repair/state_change.yaml
Labels: bug, ha:automations

#1032 Deprecate bedroom scent plug automations
  entities/automation/switch/bedroom_scent_plug/turn_off_after_an_hour.yaml
  entities/automation/switch/bedroom_scent_plug/turn_off_when_window_opened.yaml
  integrations/README.md
Labels: bot:keep-updated, minor, ha:automations, chore, documentation

#1034 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1033 Only close GitHub issues from `main` branch
  entities/automation/event/repair/state_change.yaml
Labels: bug, bot:keep-updated, ha:automations

#1038 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1041 Add configurable automation for air freshener timeout
  entities/automation/switch/air_freshener/timeout.yaml
  entities/input_number/air_freshener_timeout.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number, documentation

#1040 Deprecate lounge scent plug automations
  entities/automation/switch/lounge_scent_plug/turn_off_after_an_hour.yaml
  entities/automation/switch/lounge_scent_plug/turn_off_when_window_opened.yaml
  integrations/README.md
Labels: bot:keep-updated, minor, ha:automations, chore, documentation

#1043 Add `deprecated_yaml` as valid repair type
  entities/automation/event/repair/state_change.yaml
  integrations/README.md
Labels: bot:keep-updated, patch, ha:automations, chore, documentation

#1044 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1092 Fix bug in issue body formatting
  entities/automation/event/repair/state_change.yaml
Labels: bug, bot:keep-updated, ha:automations

#1093 Remove `media_extractor` YAML configuration
  integrations/media_extractor.yaml
Labels: bot:keep-updated, patch, chore

#1095 Update HACV to 4.2.0
  .pre-commit-config.yaml
  entities/automation/person/will/home.yaml
  entities/automation/remote/kitchen.yaml
  entities/automation/remote/lounge.yaml
Labels: bot:keep-updated, patch, ha:automations, chore

#1096 Add MQTT `sensor.filament_type`
  entities/mqtt/sensor/prusa_i3/filament_type.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:mqtt, documentation

#1097 Temporarily block Cosmo clean requests from going to Vic
  entities/script/cosmo/cosmo_send_clean_requests.yaml
Labels: bot:keep-updated, patch, ha:scripts, chore

#1098 Bugfixes for "Will leaving work" notification
  entities/automation/person/will/leaving_work.yaml
Labels: bug, ha:automations

#1101 Disable work MBP notifications temporarily
  entities/script/notify_will.yaml
Labels: bot:keep-updated, patch, ha:scripts, chore

#1100 Update UI Lovelace Dashboard Files
  .github/repo_labels.yml
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1102 Don't turn OctoPi CPU fan off whilst printing
  entities/automation/octopi/cpu_fan_control.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#1103 Add control automations for enclosure fan
  entities/automation/fan/prusa_i3_enclosure_fan/turn_off.yaml
  entities/automation/fan/prusa_i3_enclosure_fan/turn_on.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1110 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1114 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1118 Add timeouts for Prusa i3 power, hotend and bed
  entities/automation/fan/prusa_i3_enclosure_fan/turn_off.yaml
  entities/automation/octopi/cpu_fan_control.yaml
  entities/automation/prusa_i3/bed/timeout.yaml
  entities/automation/prusa_i3/hotend/timeout.yaml
  entities/automation/switch/prusa_i3_mk3_power/timeout.yaml
  entities/input_number/timeout/air_freshener_timeout.yaml
  entities/input_number/timeout/hallway_lights_timeout.yaml
  entities/input_number/timeout/prusa_i3_bed_timeout.yaml
  entities/input_number/timeout/prusa_i3_hotend_timeout.yaml
  entities/input_number/timeout/prusa_i3_power_timeout.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number, documentation

#1122 Migrate lovelace to UI configuration
  .pre-commit-config.yaml
  integrations/lovelace.yaml
  lovelace/archive/home_control.yaml
  lovelace/archive/london.yaml
  lovelace/archive/media_dashboard.yaml
  lovelace/dashboards/system_health.yaml
  lovelace/views/github.yaml
  lovelace/views/mobile_dashboard.yaml
  lovelace/views/system_health.yaml
  ui-lovelace.yaml
Labels: bot:keep-updated, minor, ha:lovelace, refactor

#1121 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1127 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace_dashboards.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1128 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.dashboard_octoprint.json
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
  lovelace/dashboards/ui_only/lovelace_dashboards.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1129 Add url/group/sticky/persistent options to `script.notify_X`
  entities/script/notify_vic.yaml
  entities/script/notify_will.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:scripts, documentation

#1130 Add automation for Prusa i3 user input notification
  entities/automation/notification/prusa_i3/user_input_required.yaml
  integrations/README.md
Labels: enhancement, minor, ha:automations, documentation

#1134 Remove automations for Vic's remote
  entities/automation/remote/vic_s_remote/double_press.yaml
  entities/automation/remote/vic_s_remote/hold.yaml
  entities/automation/remote/vic_s_remote/single_press.yaml
  integrations/README.md
Labels: bot:keep-updated, minor, ha:automations, chore, documentation

#1135 Add automations for coffee table remote
  entities/automation/remote/coffee_table/double_press.yaml
  entities/automation/remote/coffee_table/hold.yaml
  entities/automation/remote/coffee_table/single_press.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1136 Fix Topaz SR10 timeout when changing outputs
  entities/automation/media_player/topaz_sr10/timeout.yaml
Labels: bug, bot:keep-updated, ha:automations

#1137 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1141 Update HA validation log pattern
  .github/workflows/validate_home_assistant_config.yml
Labels: sync, bot:keep-updated, github-actions

#1139 Add bedroom Hue remote automations
  entities/automation/hue_remote/bedroom/button_1/long_press.yaml
  entities/automation/hue_remote/bedroom/button_1/press.yaml
  entities/automation/hue_remote/bedroom/button_4/long_press.yaml
  entities/automation/hue_remote/bedroom/button_4/press.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1140 Turn Moomin box on when bedroom blinds close
  entities/automation/cover/bedroom_blinds/close_after_sunset.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1145 Add template image integration for `prusa_i3_thumbnail`
  entities/mqtt/sensor/octopi/local_ip_address.yaml
  entities/template/image/prusa_i3_thumbnail.yaml
  integrations/README.md
  integrations/template.yaml
Labels: enhancement, bot:keep-updated, minor, ha:mqtt, ha:template, documentation
