Repository worgarside/home-assistant, pull requests merged in 2024-08, with the labels that each got.

#1272 Stop ignoring voltage entities in recorder
  integrations/recorder.yaml
Labels: bug, bot:keep-updated

#1270 Align now playing automation implementations
  entities/automation/crtpi/update_display.yaml
  entities/automation/mtrxpi/content_trigger/now_playing.yaml
  entities/input_select/mtrxpi/mtrxpi_media_player_source.yaml
  integrations/README.md
Labels: bot:keep-updated, patch, ha:automations, ha:input-select, documentation, refactor

#1273 Add ESPHome moisture sensor config
  esphome/.gitignore
  esphome/esp32-moisture-sensor.yaml
Labels: enhancement, bot:keep-updated, minor

#1268 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1274 Refactor ESPHome directory / Add MVP for soil moisture sensors
  .pre-commit-config.yaml
  entities/input_number/soil_moisture_threshold/sensor_1/soil_moisture_sensor_1_lower_limit.yaml
  entities/input_number/soil_moisture_threshold/sensor_1/soil_moisture_sensor_1_upper_limit.yaml
  entities/input_number/soil_moisture_threshold/sensor_2/soil_moisture_sensor_2_lower_limit.yaml
  entities/input_number/soil_moisture_threshold/sensor_2/soil_moisture_sensor_2_upper_limit.yaml
  entities/template/sensor/soil_saturation/soil_saturation_1.yaml
  entities/template/sensor/soil_saturation/soil_saturation_2.yaml
  esphome/.gitignore
  esphome/common/api.yaml
  esphome/common/ota.yaml
  esphome/common/sensor/esp32_battery_voltage.yaml
  esphome/common/sensor/soil_moisture_sensor_voltage.yaml
  esphome/common/wifi.yaml
  esphome/esp32-moisture-sensor-1.yaml
  esphome/esp32-moisture-sensor-2.yaml
  esphome/esp32-moisture-sensor.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:input-number, ha:template, documentation

#1277 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1281 Bump Home Assistant version to `2024.8.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1282 Fix saturation sensors defaulting to 100% when no reading available
  entities/template/sensor/soil_saturation/soil_saturation_1.yaml
  entities/template/sensor/soil_saturation/soil_saturation_2.yaml
Labels: bug, bot:keep-updated, ha:template

#1283 Fix bad template in saturation 2
  entities/template/sensor/soil_saturation/soil_saturation_2.yaml
Labels: bug, bot:keep-updated, ha:template

#1280 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1298 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1297 Add ESPHome label to HA
  .github/labeler.yml
  .github/release-drafter.yml
  .github/repo_labels.yml
  .pre-commit-config.yaml
  dev_tools/__init__.py
  dev_tools/color_generator.py
  dev_tools/hasspi_file_sync.py
  poetry.lock
  pyproject.toml
Labels: sync, dependencies, python, bot:keep-updated

#1300 Stop recording datetime sensors
  integrations/recorder.yaml
Labels: bot:keep-updated, patch, chore

#1301 Filter Denon logs
  integrations/logger.yaml
Labels: bug, bot:keep-updated

#1302 Record database size
  integrations/recorder.yaml
Labels: enhancement, bot:keep-updated, patch

#1303 Bump Home Assistant version to `2024.8.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1354 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1361 Add defaults for int coercion in Jinja templates
  entities/automation/binary_sensor/quiet_hours/on.yaml
  entities/automation/cover/office_desk/work_mode.yaml
  entities/automation/crtpi/cpu_fan_control.yaml
  entities/automation/input_datetime/cosmo/next_clean_due/set.yaml
  entities/automation/mtrxpi/content_trigger/raining_grid.yaml
  entities/automation/octopi/cpu_fan_control.yaml
  entities/cover/office/office_desk.yaml
  entities/script/office_desk_set_position.yaml
  entities/script/office_desk_stop_moving.yaml
  entities/switch/prusa_i3_mk3_power.yaml
  entities/template/binary_sensor/office_desk_standing_mode.yaml
  entities/template/image/prusa_i3_thumbnail.yaml
  entities/template/sensor/entity_counts/low_batteries.yaml
  entities/template_triggered/sensor/topaz_sr10_active_child.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, ha:cover, ha:scripts, ha:switch, ha:template, documentation

#1355 Add MQTT entities for LED Matrix Controller
  entities/mqtt/number/mtrxpi/clock/scale.yaml
  entities/mqtt/number/mtrxpi/clock/x_pos.yaml
  entities/mqtt/number/mtrxpi/clock/y_pos.yaml
  entities/mqtt/number/mtrxpi/combination/x_pos.yaml
  entities/mqtt/number/mtrxpi/combination/y_pos.yaml
  entities/mqtt/number/mtrxpi/now_playing/x_pos.yaml
  entities/mqtt/number/mtrxpi/now_playing/y_pos.yaml
  entities/mqtt/number/mtrxpi/raining_grid/rain_chance.yaml
  entities/mqtt/number/mtrxpi/raining_grid/rain_speed.yaml
  entities/mqtt/number/mtrxpi/raining_grid/splash_speed.yaml
  entities/mqtt/number/mtrxpi/raining_grid/x_pos.yaml
  entities/mqtt/number/mtrxpi/raining_grid/y_pos.yaml
  entities/mqtt/number/mtrxpi/sorter/iterations.yaml
  entities/mqtt/number/mtrxpi/sorter/x_pos.yaml
  entities/mqtt/number/mtrxpi/sorter/y_pos.yaml
  entities/mqtt/switch/mtrxpi/sorter/randomize_algorithm.yaml
  entities/script/mtrxpi/mtrxpi_queue_content.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:mqtt, ha:scripts, documentation

#1362 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1363 Add MQTT Sensor for MtrxPi content queue
  entities/mqtt/sensor/mtrxpi/content_queue.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:mqtt, documentation

#1365 Add template parser to content queue attrs
  entities/mqtt/sensor/mtrxpi/content_queue.yaml
Labels: bot:keep-updated, ha:mqtt, refactor

#1364 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1375 Bump Home Assistant version to `2024.8.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1368 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1369 Add input numbers for MtrxPi content queue positions
  entities/automation/event/repair/state_change.yaml
  entities/automation/mtrxpi/content_trigger/gif_door_animated.yaml
  entities/automation/mtrxpi/content_trigger/now_playing.yaml
  entities/automation/mtrxpi/content_trigger/raining_grid.yaml
  entities/input_number/mtrxpi/queue_position/mtrxpi_clock_queue_position.yaml
  entities/input_number/mtrxpi/queue_position/mtrxpi_gif_door_animated_queue_position.yaml
  entities/input_number/mtrxpi/queue_position/mtrxpi_image_door_closed_queue_position.yaml
  entities/input_number/mtrxpi/queue_position/mtrxpi_now_playing_queue_position.yaml
  entities/input_number/mtrxpi/queue_position/mtrxpi_raining_grid_queue_position.yaml
  entities/input_number/mtrxpi/queue_position/mtrxpi_sorter_queue_position.yaml
  entities/script/mtrxpi/mtrxpi_queue_content.yaml
  integrations/README.md
Labels: enhancement, dependencies, bot:keep-updated, ha:automations, ha:input-number, ha:scripts, documentation

#1380 Ensure all `| bool` usages in Jinja templates have valid defaults
  entities/automation/cosmo/nightly_kitchen_clean.yaml
  entities/automation/remote/coffee_table/single_press.yaml
  entities/mqtt/switch/prusa_i3/enclosure_fan.yaml
  entities/script/cosmo/cosmo_send_clean_requests.yaml
  entities/script/functions/run_dynamic_script.yaml
  entities/script/notify_vic.yaml
  entities/script/notify_will.yaml
  entities/script/office_desk_sitting_mode.yaml
  entities/script/office_desk_standing_mode.yaml
  entities/shell_command/mark_pr_as_ready_for_review.yaml
  entities/template/image/prusa_i3_thumbnail.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, ha:mqtt, ha:scripts, ha:template, documentation, ha:shell-command

#1382 Reduce recorder data volume
  integrations/recorder.yaml
Labels: enhancement, bot:keep-updated, minor

#1381 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1383 Add content trigger for MtrxPi clock
  entities/automation/mtrxpi/content_trigger/clock.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1384 Add MtrxPi brightness control based on quiet hours
  entities/automation/binary_sensor/quiet_hours/off.yaml
  entities/automation/binary_sensor/quiet_hours/on.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1386 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1394 Deprecate room entity headers
  entities/automation/input_boolean/bedroom_entity_header/auto_turn_off.yaml
  entities/automation/input_boolean/bedroom_entity_header/auto_turn_on.yaml
  entities/automation/input_boolean/bedroom_entity_header/off.yaml
  entities/automation/input_boolean/bedroom_entity_header/on.yaml
  entities/automation/input_boolean/lounge_entity_header/auto_turn_off.yaml
  entities/automation/input_boolean/lounge_entity_header/auto_turn_on.yaml
  entities/automation/input_boolean/lounge_entity_header/off.yaml
  entities/automation/input_boolean/lounge_entity_header/on.yaml
  entities/automation/input_boolean/office_entity_header/auto_turn_off.yaml
  entities/automation/input_boolean/office_entity_header/auto_turn_on.yaml
  entities/automation/input_boolean/office_entity_header/off.yaml
  entities/automation/input_boolean/office_entity_header/on.yaml
  entities/input_boolean/bedroom_entity_header.yaml
  entities/input_boolean/hallway_entity_header.yaml
  entities/input_boolean/lounge_entity_header.yaml
  entities/input_boolean/office_entity_header.yaml
  integrations/README.md
Labels: bot:keep-updated, minor, ha:automations, ha:input-boolean, documentation, refactor

#1399 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1401 Add template light for MtrxPi
  config_validator.yml
  entities/light/mtrxpi_led_matrix_brightness.yaml
  integrations/README.md
  integrations/light.yaml
Labels: enhancement, bot:keep-updated, minor, documentation

#1388 Add `sensor.lighting_modifier`
  entities/automation/binary_sensor/front_door/open.yaml
  entities/automation/binary_sensor/hallway_motion_sensor/on.yaml
  entities/automation/hue_remote/bedroom/button_1/press.yaml
  entities/automation/hue_remote/lounge/button_1/press.yaml
  entities/automation/hue_remote/office/button_1/short_press.yaml
  entities/automation/remote/lounge.yaml
  entities/automation/remote/lounge_desk/single_press.yaml
  entities/script/light/kitchen_spotlights/turn_on_kitchen_spotlights.yaml
  entities/template/image/prusa_i3_thumbnail.yaml
  entities/template/sensor/lighting_modifier.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number, ha:scripts, ha:template, documentation

#1400 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore
