Repository worgarside/home-assistant, pull requests merged in 2024-10, with the labels that each got.

#1480 Stop creating GitHub issues for removed repairs
  entities/automation/event/repair/state_change.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, documentation

#1467 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1482 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1488 Bump Home Assistant version to `2024.10.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1485 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1499 Automate Vic's desk fan
  entities/automation/remote/lounge_desk/hold.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1495 Bump Home Assistant version to `2024.10.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1507 Bump Home Assistant version to `2024.10.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1510 Add Pi Stats start time sensors
  entities/mqtt/sensor/crtpi/boot_time.yaml
  entities/mqtt/sensor/crtpi/pi_stats_start_time.yaml
  entities/mqtt/sensor/growpi/boot_time.yaml
  entities/mqtt/sensor/growpi/pi_stats_start_time.yaml
  entities/mqtt/sensor/mtrxpi/boot_time.yaml
  entities/mqtt/sensor/mtrxpi/pi_stats_start_time.yaml
  entities/mqtt/sensor/octopi/boot_time.yaml
  entities/mqtt/sensor/octopi/pi_stats_start_time.yaml
  entities/mqtt/sensor/rtropi/boot_time.yaml
  entities/mqtt/sensor/rtropi/pi_stats_start_time.yaml
  entities/mqtt/sensor/vsmppi/boot_time.yaml
  entities/mqtt/sensor/vsmppi/pi_stats_start_time.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:mqtt, documentation

#1514 Suppress noisy Sonos logs
  integrations/logger.yaml
Labels: bot:keep-updated, patch, chore

#1511 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1517 Add sensors for CastSponsorSkip stats
  entities/command_line/sensor/addons/castsponsorskip_status.yaml
  entities/template/sensor/addon_stats/castsponsorskip_cpu_usage.yaml
  entities/template/sensor/addon_stats/castsponsorskip_memory_usage.yaml
  integrations/README.md
  secrets.fake.yaml
Labels: enhancement, bot:keep-updated, minor, ha:template, documentation, ha:command-line

#1522 Bump Home Assistant version to `2024.10.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1524 Add automations for diffuser
  dev_tools/color_generator.py
  entities/automation/binary_sensor/lounge_diffuser_needs_water/on.yaml
  entities/automation/diffuser/lounge/set_color.yaml
  entities/automation/diffuser/lounge/timeout.yaml
  entities/input_number/timeout/lounge_diffuser_timeout.yaml
  entities/script/notify_vic.yaml
  entities/script/notify_will.yaml
  integrations/README.md
  poetry.lock
  pyproject.toml
Labels: enhancement, dependencies, python, bot:keep-updated, ha:automations, ha:input-number, ha:scripts, documentation

#1525 Fix diffuser automation logic order
  entities/automation/diffuser/lounge/set_color.yaml
Labels: bug, bot:keep-updated, ha:automations

#1518 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1531 Bump Home Assistant version to `2024.10.4`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1536 Only use work mode automation when desk is occupied
  entities/automation/cover/office_desk/work_mode.yaml
Labels: bug, bot:keep-updated, ha:automations

#1535 Fix "diffuser needs water" alert
  entities/automation/binary_sensor/lounge_diffuser_needs_water/off.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, documentation
