Repository worgarside/home-assistant, pull requests merged in 2024-05, with the labels that each got.

#859 Bump Home Assistant version to `2024.5.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#858 Migrate Folder Watcher configuration to the UI
  .github/workflows/validate_home_assistant_config.yml
  integrations/folder_watcher.yaml
Labels: bot:keep-updated, github-actions, patch, chore

#860 Migrate Map configuration to the UI
  integrations/map.yaml
Labels: bot:keep-updated, patch, chore

#861 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#862 Update raining grid automation to actually set rain to 0 when stopping
  entities/automation/mtrxpi/content_trigger/raining_grid.yaml
  integrations/README.md
Labels: ha:automations, documentation, refactor

#866 Bump Home Assistant version to `2024.5.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#852 Add automation to send Topaz SR10 now playing to Matrix
  entities/automation/mtrxpi/content_trigger/README.md
  entities/automation/mtrxpi/content_trigger/now_playing.yaml
  entities/input_select/mtrxpi/mtrxpi_media_player_source.yaml
  entities/mqtt/sensor/mtrxpi/current_content.yaml
  entities/script/mtrxpi/mtrxpi_queue_content.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-select, ha:mqtt, ha:scripts, documentation

#865 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#868 Fix Cosmo images reset
  .gitignore
  www/images/cosmo/.gitkeep
Labels: bug, bot:keep-updated

#869 Make Topaz SR10 timeout configurable
  entities/automation/media_player/topaz_sr10/timeout.yaml
  entities/input_number/topaz_sr10/topaz_sr10_power_off_timeout.yaml
  entities/input_number/topaz_sr10/topaz_sr10_volume_level.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number, documentation

#870 Fix `now-playing` content expiring before being updated
  entities/automation/mtrxpi/content_trigger/now_playing.yaml
Labels: bug, bot:keep-updated, ha:automations

#874 Add input text for TrueLayer auth token
  .pre-commit-config.yaml
  entities/input_text/appdaemon/ad_get_latest_release.yaml
  entities/input_text/appdaemon/truelayer_auth_token_amex.yaml
  entities/input_text/appdaemon/truelayer_auth_token_hsbc.yaml
  entities/input_text/appdaemon/truelayer_auth_token_monzo.yaml
  entities/input_text/appdaemon/truelayer_auth_token_santander.yaml
  entities/input_text/appdaemon/truelayer_auth_token_starling.yaml
  entities/input_text/appdaemon/truelayer_auth_token_starling_joint.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:input-text, documentation

#876 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#878 Bump Home Assistant version to `2024.5.4`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#879 Add input text for CC pot auth token
  entities/input_text/appdaemon/monzo_auth_token_cc_pot_top_up.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:input-text, documentation

#882 Deprecate custom Idasen integration
  entities/cover/office/office_desk.yaml
  esphome/office-desk.yaml
Labels: bot:keep-updated, patch, ha:cover, chore

#881 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#883 Add ESPHome config file for Bluetooth proxy
  esphome/esp32-bluetooth-proxy.yaml
Labels: enhancement, bot:keep-updated, patch

#884 Increase tolerance for office desk movement scripts
  entities/script/office_desk_set_position.yaml
Labels: bug, bot:keep-updated, ha:scripts

#888 Add IDÅSEN keep-alive automation
  entities/automation/cover/office_desk/keepalive.yaml
  integrations/README.md
Labels: bug, enhancement, bot:keep-updated, minor, ha:automations, documentation

#886 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#885 Add Aqara Cube automations
  entities/automation/cube/knock.yaml
  entities/automation/cube/rotate.yaml
  entities/automation/cube/slide.yaml
  entities/input_text/cube/cube_entity_1.yaml
  entities/input_text/cube/cube_entity_2.yaml
  entities/input_text/cube/cube_entity_3.yaml
  entities/input_text/cube/cube_entity_4.yaml
  entities/input_text/cube/cube_entity_5.yaml
  entities/input_text/cube/cube_entity_6.yaml
  entities/template_triggered/sensor/cube_active_face.yaml
  entities/template_triggered/sensor/cube_latest_event.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-text, documentation

#891 Bump Home Assistant version to `2024.5.5`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#892 Deprecate unused entity count sensors
  entities/template/sensor/entity_counts/count_active_automations.yaml
  entities/template/sensor/entity_counts/count_active_scripts.yaml
  entities/template/sensor/entity_counts/count_automations.yaml
  entities/template/sensor/entity_counts/count_binary_sensors.yaml
  entities/template/sensor/entity_counts/count_device_trackers.yaml
  entities/template/sensor/entity_counts/count_input_booleans.yaml
  entities/template/sensor/entity_counts/count_input_datetimes.yaml
  entities/template/sensor/entity_counts/count_input_numbers.yaml
  entities/template/sensor/entity_counts/count_input_selects.yaml
  entities/template/sensor/entity_counts/count_input_texts.yaml
  entities/template/sensor/entity_counts/count_scripts.yaml
  entities/template/sensor/entity_counts/count_sensors.yaml
  entities/template/sensor/entity_counts/count_stale_entities.yaml
  entities/template/sensor/entity_counts/count_switches.yaml
  entities/template/sensor/entity_counts/count_updates.yaml
  entities/template/sensor/entity_counts/count_zones.yaml
  entities/template/sensor/entity_counts/low_batteries.yaml
  entities/template/sensor/entity_counts/unavailable_entities.yaml
  integrations/README.md
Labels: bot:keep-updated, minor, ha:template, chore, documentation

#894 Suppress noisy Idasen integration logs
  integrations/logger.yaml
Labels: bot:keep-updated, patch, chore

#893 Add inputs to control auto CC pot top up
  entities/automation/notification/credit_card_top_up/send.yaml
  entities/input_number/cc_pot_top_up/credit_card_pot_top_up_maximum_auto_top_up.yaml
  entities/input_number/cc_pot_top_up/credit_card_pot_top_up_minimum_remainder.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number, documentation

#896 Add charging hub auto-off automation
  entities/automation/switch/charging_hub/turn_off.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#895 Add `shell_command.gh` for generic GH CLI use
  entities/shell_command/gh.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, documentation, ha:shell-command

#900 Add shell commands to read/write/delete local files
  .gitignore
  entities/shell_command/file_operations/delete_file.yaml
  entities/shell_command/file_operations/read_file.yaml
  entities/shell_command/file_operations/write_file.yaml
  integrations/README.md
  resources/tmp/.gitkeep
Labels: enhancement, bot:keep-updated, minor, documentation, ha:shell-command

#901 Fix syntax in `shell_command.write_file`
  entities/shell_command/file_operations/write_file.yaml
Labels: bug, bot:keep-updated, ha:shell-command

#904 Deprecate HA folder_watcher integration
  .github/release-drafter.yml
Labels: sync, bot:keep-updated, github-actions

#906 Set Cosmo suction level before cleaning room
  entities/script/cosmo/cosmo_clean_room.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:scripts, documentation

#898 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#907 Wait for lounge/kitchen lights out + 10 mins for Cosmo nightly clean
  entities/automation/cosmo/nightly_kitchen_clean.yaml
Labels: bot:keep-updated, patch, ha:automations, refactor

#897 Add `script.gh_issue_create`
  .gitignore
  entities/script/notify_vic.yaml
  entities/script/notify_will.yaml
  entities/script/shell_command/gh_cli/gh_issue_create.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:scripts, documentation

#916 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#918 Fix Cosmo suction level casing
  entities/script/cosmo/cosmo_clean_room.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:scripts, documentation

#919 Update location parameter for Tomorrow.io API calls
  entities/sensor/tomorrow_io_realtime_weather.yaml
  secrets.fake.yaml
Labels: bug, bot:keep-updated, ha:sensors

#921 Fix office desk retry logic
  entities/script/office_desk_set_position.yaml
  entities/script/office_desk_stop_moving.yaml
Labels: bug, bot:keep-updated, ha:scripts

#922 Turn off amp when MacBook disconnects from FiiO E10
  entities/automation/media_player/topaz_sr10/timeout.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations
