Repository worgarside/home-assistant, pull requests merged in 2024-11, with the labels that each got.

#1553 Add Nextcloud addon sensors
  dev_tools/color_generator.py
  entities/command_line/sensor/addons/nextcloud_status.yaml
  entities/template/sensor/addon_stats/nextcloud_cpu_usage.yaml
  entities/template/sensor/addon_stats/nextcloud_memory_usage.yaml
  integrations/README.md
  secrets.fake.yaml
Labels: enhancement, python, bot:keep-updated, minor, ha:template, documentation, ha:command-line

#1562 Add lower limit to `time_of_day` being "night"
  entities/template/sensor/nature/time_of_day.yaml
Labels: bot:keep-updated, patch, ha:template, refactor

#1563 Update device name for Pixel 6 Pro
  entities/script/notify_will.yaml
Labels: bug, bot:keep-updated, ha:scripts

#1555 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1574 Add NGINX Proxy Manager sensors
  dev_tools/color_generator.py
  entities/command_line/sensor/addons/nginx_proxy_manager_status.yaml
  entities/template/sensor/addon_stats/nginx_proxy_manager_cpu_usage.yaml
  entities/template/sensor/addon_stats/nginx_proxy_manager_memory_usage.yaml
  integrations/README.md
  secrets.fake.yaml
Labels: enhancement, python, bot:keep-updated, minor, ha:template, documentation, ha:command-line

#1626 Update HA validation log pattern
  .github/workflows/validate_home_assistant_config.yml
Labels: sync, bot:keep-updated, github-actions

#1633 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1644 Fix notification service
  entities/script/notify_will.yaml
Labels: bug, bot:keep-updated, ha:scripts

#1645 Remove Habtica integration
  entities/automation/habitica/brush_teeth.yaml
  entities/template/sensor/habitica/habitica_vic_pending_dailys.yaml
  entities/template/sensor/habitica/habitica_will_pending_dailys.yaml
  integrations/README.md
Labels: bot:keep-updated, minor, ha:automations, ha:template, documentation, refactor

#1646 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1649 Add `sensor.plex_recently_added`
  entities/sensor/plex_recently_added.yaml
  integrations/README.md
  secrets.fake.yaml
Labels: enhancement, bot:keep-updated, minor, ha:sensors, documentation

#1650 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1656 Bump Home Assistant version to `2024.11.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1662 Fix script for amp IR blaster
  entities/script/ir_blaster/topaz_sr10/ir_blaster_topaz_sr10_issue_command.yaml
Labels: bug, bot:keep-updated, ha:scripts

#1661 Update Hue -> Z2M automations for Office
  entities/automation/hue_remote/office/button_1/short_press.yaml
  entities/automation/hue_remote/office/button_4/short_press.yaml
  entities/automation/remote/office_hue_remote/off_hold.yaml
  entities/automation/remote/office_hue_remote/off_press.yaml
  entities/automation/remote/office_hue_remote/on_press.yaml
  integrations/README.md
Labels: bot:keep-updated, patch, ha:automations, documentation, refactor

#1671 Add workaround automation for Moomin box light
  .gitignore
  .pre-commit-config.yaml
  entities/automation/light/moomin_box/on.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, documentation

#1653 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1681 Bump Home Assistant version to `2024.11.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore
