Repository worgarside/home-assistant, pull requests merged in 2024-01, with the labels that each got.

#691 Update `lovelace/dashboards/ui_only/lovelace.home_will.json`
  .github/labeler.yml
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#693 Enhance Pi Stats sensors
  .pre-commit-config.yaml
  config_validator.json
  entities/mqtt/sensor/clmtpi/active_git_ref.yaml
  entities/mqtt/sensor/clmtpi/boot_time.yaml
  entities/mqtt/sensor/clmtpi/local_git_ref.yaml
  entities/mqtt/sensor/clmtpi/uptime.yaml
  entities/mqtt/sensor/crtpi/active_git_ref.yaml
  entities/mqtt/sensor/crtpi/boot_time.yaml
  entities/mqtt/sensor/crtpi/local_git_ref.yaml
  entities/mqtt/sensor/crtpi/uptime.yaml
  entities/mqtt/sensor/growpi/active_git_ref.yaml
  entities/mqtt/sensor/growpi/boot_time.yaml
  entities/mqtt/sensor/growpi/local_git_ref.yaml
  entities/mqtt/sensor/growpi/uptime.yaml
  entities/mqtt/sensor/mtrxpi/active_git_ref.yaml
  entities/mqtt/sensor/mtrxpi/boot_time.yaml
  entities/mqtt/sensor/mtrxpi/local_git_ref.yaml
  entities/mqtt/sensor/mtrxpi/uptime.yaml
  entities/mqtt/sensor/octopi/active_git_ref.yaml
  entities/mqtt/sensor/octopi/boot_time.yaml
  entities/mqtt/sensor/octopi/local_git_ref.yaml
  entities/mqtt/sensor/octopi/uptime.yaml
  entities/mqtt/sensor/rtropi/active_git_ref.yaml
  entities/mqtt/sensor/rtropi/boot_time.yaml
  entities/mqtt/sensor/rtropi/local_git_ref.yaml
  entities/mqtt/sensor/rtropi/uptime.yaml
  entities/mqtt/sensor/vsmppi/active_git_ref.yaml
  entities/mqtt/sensor/vsmppi/boot_time.yaml
  entities/mqtt/sensor/vsmppi/local_git_ref.yaml
  entities/mqtt/sensor/vsmppi/uptime.yaml
Labels: enhancement, bot:keep-updated, minor, ha:mqtt

#694 Refactor/fix automation for setting Cosmo picture choices
  entities/automation/input_select/cosmo_entity_picture/set_options.yaml
  entities/automation/input_select/cosmo_picture/set_options.yaml
Labels: bug, bot:keep-updated, ha:automations

#695 Add template switch `switch.prusa_i3_mk3_power`
  config_validator.json
  entities/automation/input_select/cosmo_entity_picture/set_options.yaml
  entities/automation/switch/prusa_i3_mk3_power/off.yaml
  entities/switch/prusa_i3_mk3_power.yaml
  integrations/switch.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:switch

#696 Add `binary_sensor.octopi_online`
  entities/template/binary_sensor/raspberry_pi_online/clmtpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/crtpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/growpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/mtrxpi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/octopi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/rtropi_online.yaml
  entities/template/binary_sensor/raspberry_pi_online/vsmppi_online.yaml
Labels: enhancement, bot:keep-updated, minor, ha:template

#697 Add script to check for missed Cosmo cleans
  entities/automation/binary_sensor/quiet_hours/on.yaml
  entities/template/binary_sensor/quiet_hours.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:template

#698 Fix various minor script bugs
  entities/automation/input_select/target_git_branch/option_selected.yaml
  entities/script/debug_persistent_notification.yaml
  entities/script/input_select/target_git_branch/target_git_branch_set_options.yaml
  entities/script/notify_vic.yaml
  entities/script/notify_will.yaml
Labels: bug, bot:keep-updated, ha:automations, ha:scripts

#704 Fix incorrect automatic branch changing
  entities/automation/input_select/target_git_branch/set_options.yaml
  entities/script/input_select/target_git_branch/target_git_branch_set_options.yaml
Labels: bug, bot:keep-updated, ha:automations, ha:scripts

#702 Bump Home Assistant version to `2024.1.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#705 Refactor/simplify `shell_command.checkout_git_branch`
  entities/automation/input_select/target_git_branch/option_selected.yaml
  entities/automation/input_select/target_git_branch/set_options.yaml
  entities/automation/webhook/git_branch_or_tag_created.yaml
  entities/script/shell_command/git/git_pull.yaml
  entities/shell_command/checkout_git_branch.yaml
  resources/shell_command/git/checkout_git_branch.sh
Labels: bot:keep-updated, patch, ha:automations, ha:scripts, chore, ha:shell-command

#706 Add concurrency limit to HA Config Validator
  .github/workflows/validate_home_assistant_config.yml
Labels: sync, github-actions

#708 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#711 Add `refactor` as branch prefix
  .github/labeler.yml
  .github/repo_labels.yml
  .github/workflows/auto_create_pr.yml
Labels: sync, bot:keep-updated, github-actions

#712 Fix default `sync_blinds` value in Office Desk sit/standing mode scripts
  entities/script/office_desk_sitting_mode.yaml
  entities/script/office_desk_standing_mode.yaml
Labels: bug, ha:scripts

#710 Fix variable passing with `script.turn_on` calls
  entities/automation/binary_sensor/quiet_hours/on.yaml
  entities/automation/cover/bedroom_blinds/register_stop_state.yaml
  entities/automation/cover/lounge_blinds/register_stop_state.yaml
  entities/automation/cover/office_blinds/register_stop_state.yaml
  entities/automation/cover/office_desk/work_mode.yaml
  entities/automation/crt_pi/crt_power_state_from_crt_pi.yaml
  entities/automation/homeassistant/load_gh_cli_on_start.yaml
  entities/automation/input_select/cosmo_entity_picture/set_options.yaml
  entities/automation/webhook/git_branch_or_tag_deleted.yaml
  entities/automation/webhook/update_pull_request_sensor.yaml
  entities/script/crt_pi_update_display.yaml
  entities/script/office_desk_sitting_mode.yaml
  entities/script/office_desk_standing_mode.yaml
Labels: bug, bot:keep-updated, ha:automations, ha:scripts

#713 Fix more script default values
  entities/script/turn_off_physical_room.yaml
Labels: bug, bot:keep-updated, ha:scripts

#714 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#715 Deprecate `systemmonitor` YAML configuration
  entities/sensor/system_monitor.yaml
Labels: bot:keep-updated, patch, ha:sensors, chore

#717 Add "distance from home" sensors
  entities/template/sensor/distance/vic_distance_from_home.yaml
  entities/template/sensor/distance/will_distance_from_home.yaml
Labels: enhancement, bot:keep-updated, minor, ha:template

#718 Update `sensor.vic_and_will_distance` to be 0 when both at home
  entities/template/sensor/distance/vic_and_will_distance.yaml
  entities/template/sensor/vic_and_will_distance.yaml
Labels: bot:keep-updated, ha:template, refactor

#719 Only send Cosmo notifications if close to home
  entities/script/cosmo/cosmo_send_clean_requests.yaml
Labels: bot:keep-updated, ha:scripts, refactor

#722 Bump Home Assistant version to `2024.1.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#720 Fix bug with Cosmo images being reset "randomly" -.-
  .gitignore
  www/images/cosmo/.gitkeep
Labels: bug, bot:keep-updated

#724 Update Git branch/tag creation/deletion automations for future multi-repo support
  entities/automation/webhook/git_branch_or_tag_created.yaml
  entities/automation/webhook/git_branch_or_tag_deleted.yaml
Labels: bot:keep-updated, ha:automations, refactor

#726 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#725 Add Prusa i3 MK3 temperature controls
  entities/automation/input_number/prusa_i3_mk3/bed_target/set.yaml
  entities/automation/input_number/prusa_i3_mk3/tool_0_target/set.yaml
  entities/automation/sensor/octoprint_bed_target/set.yaml
  entities/automation/sensor/octoprint_tool_0_target/set.yaml
  entities/input_number/prusa_i3_mk3/prusa_i3_mk3_target_bed_temperature.yaml
  entities/input_number/prusa_i3_mk3/prusa_i3_mk3_target_hotend_temperature.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number

#728 Update (debug) notification content
  entities/automation/webhook/git_branch_or_tag_created.yaml
  entities/script/cosmo/cosmo_get_room_id_or_name.yaml
Labels: bug, ha:automations, ha:scripts

#730 Add automations for "Will's left work" notification
  entities/automation/person/will/home.yaml
  entities/automation/person/will/leaving_work.yaml
  entities/script/notify_vic.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:scripts

#731 Fix (?) Cosmo lookup script
  entities/script/cosmo/cosmo_get_room_id_or_name.yaml
Labels: bug, bot:keep-updated, ha:scripts

#732 Fix automation conditions
  entities/automation/person/will/home.yaml
  entities/automation/person/will/leaving_work.yaml
Labels: bug, bot:keep-updated, ha:automations

#733 Update notif content
  entities/automation/webhook/git_branch_or_tag_created.yaml
Labels: bot:keep-updated, patch, ha:automations, chore

#734 Fix spacing in Git notification
  entities/automation/webhook/git_branch_or_tag_deleted.yaml
Labels: bug, bot:keep-updated, ha:automations

#735 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#737 Add caching to `tts.cloud_say` calls
  entities/automation/person/will/leaving_work.yaml
  entities/automation/tag/cosmo/return_to_base.yaml
  entities/script/cosmo/cosmo_tag_scanned.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations, ha:scripts

#747 Change to forked Config Check GHA
  .github/workflows/validate_home_assistant_config.yml
Labels: enhancement, bot:keep-updated, github-actions, patch, tools

#744 Bump Home Assistant version to `2024.1.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#746 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#745 Add script for logging exceptions
  entities/script/functions/log_exception.yaml
Labels: enhancement, bot:keep-updated, minor, ha:scripts

#748 Fix variable definition for Git notification script
  entities/automation/webhook/git_branch_or_tag_created.yaml
Labels: bug, bot:keep-updated, ha:automations

#749 Deprecate lounge lamps button automations
  entities/automation/remote/lounge_lamps/double_press.yaml
  entities/automation/remote/lounge_lamps/single_press.yaml
Labels: bot:keep-updated, minor, ha:automations, chore

#751 Fix/upgrade templates in template switch for Prusa power
  entities/switch/prusa_i3_mk3_power.yaml
Labels: bug, bot:keep-updated, ha:switch

#750 Add button to control Prusa i3 MK3
  entities/automation/remote/prusa_i3_mk3_power/double_press.yaml
  entities/automation/remote/prusa_i3_mk3_power/single_press.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#756 Refactor Jinja templates to use Home Assistant template extensions
  entities/automation/binary_sensor/front_door/open.yaml
  entities/automation/binary_sensor/hallway_motion_sensor/on.yaml
  entities/automation/cosmo/nightly_kitchen_clean.yaml
  entities/automation/crt_pi/update_display.yaml
  entities/automation/hue_remote/office/button_4/long_press.yaml
  entities/automation/input_boolean/bedroom_entity_header/auto_turn_off.yaml
  entities/automation/input_boolean/bedroom_entity_header/auto_turn_on.yaml
  entities/automation/input_boolean/lounge_entity_header/auto_turn_off.yaml
  entities/automation/input_boolean/lounge_entity_header/auto_turn_on.yaml
  entities/automation/input_boolean/office_entity_header/auto_turn_off.yaml
  entities/automation/input_boolean/office_entity_header/auto_turn_on.yaml
  entities/automation/mtrxpi/update_display.yaml
  entities/automation/octopi/fan_control.yaml
  entities/automation/switch/christmas_tree/turn_on.yaml
  entities/script/cosmo/cosmo_tag_scanned.yaml
  entities/script/office_desk_set_position.yaml
  entities/script/turn_off_physical_room.yaml
  entities/template/binary_sensor/bank_holiday.yaml
  entities/template/binary_sensor/hifi_system_is_volume_muted.yaml
  entities/template/binary_sensor/office_desk_occupied.yaml
  entities/template/binary_sensor/office_desk_standing_and_occupied.yaml
  entities/template/sensor/distance/vic_and_will_distance.yaml
  entities/template/sensor/distance/vic_distance_from_home.yaml
  entities/template/sensor/distance/will_distance_from_home.yaml
  entities/template/sensor/floorplan_icons/clmtpi_floorplan_icon.yaml
  entities/template/sensor/hifi_system_media_metadata.yaml
  lovelace/decluttering_templates.yaml
  pyproject.toml
Labels: bot:keep-updated, ha:automations, ha:lovelace, ha:scripts, ha:template, refactor

#753 Add dynamic script runner
  entities/script/functions/run_dynamic_script.yaml
Labels: enhancement, bot:keep-updated, minor, ha:scripts

#758 Refactor `script.debug_persistent_notification` `title` arg
  entities/automation/binary_sensor/quiet_hours/on.yaml
  entities/automation/cover/bedroom_blinds/register_stop_state.yaml
  entities/automation/cover/lounge_blinds/register_stop_state.yaml
  entities/automation/cover/office_blinds/register_stop_state.yaml
  entities/automation/cover/office_desk/work_mode.yaml
  entities/automation/crt_pi/crt_power_state_from_crt_pi.yaml
  entities/automation/homeassistant/load_gh_cli_on_start.yaml
  entities/automation/input_select/cosmo_entity_picture/set_options.yaml
  entities/automation/webhook/git_branch_or_tag_created.yaml
  entities/automation/webhook/git_branch_or_tag_deleted.yaml
  entities/automation/webhook/update_pull_request_sensor.yaml
  entities/script/cosmo/cosmo_get_room_id_or_name.yaml
  entities/script/crt_pi_update_display.yaml
  entities/script/debug_persistent_notification.yaml
  entities/script/functions/run_dynamic_script.yaml
  entities/script/input_select/target_git_branch/target_git_branch_set_options.yaml
  entities/script/mtrxpi_update_display.yaml
  entities/script/office_desk_set_position.yaml
Labels: bot:keep-updated, ha:automations, ha:scripts, refactor

#760 Make blinds synchronisation conditional for Office Desk button
  entities/automation/remote/office_desk/double_press.yaml
  entities/automation/remote/office_desk/hold.yaml
  entities/automation/remote/office_desk/single_press.yaml
Labels: bot:keep-updated, ha:automations, refactor

#759 Fix debug notification content
  entities/automation/input_select/cosmo_entity_picture/set_options.yaml
Labels: bug, bot:keep-updated, ha:automations

#761 Allow suppressing dynamic script notifications
  entities/script/functions/run_dynamic_script.yaml
Labels: enhancement, bot:keep-updated, patch, ha:scripts

#762 Delete broken online check
  entities/sensor/nabu_casa_online.yaml
  secrets.fake.yaml
Labels: bot:keep-updated, patch, ha:sensors, chore

#763 Delete unused YAS-209 IR scripts
  entities/script/ir_blaster/yas_209/yas_209_set_eq_movie.yaml
  entities/script/ir_blaster/yas_209/yas_209_set_eq_music.yaml
  entities/script/ir_blaster/yas_209/yas_209_set_eq_tv.yaml
  entities/script/ir_blaster/yas_209/yas_209_set_source_hdmi.yaml
  entities/script/ir_blaster/yas_209/yas_209_set_source_tv.yaml
  entities/script/ir_blaster/yas_209/yas_209_toggle_power.yaml
  entities/script/ir_blaster/yas_209/yas_209_volume_down.yaml
  entities/script/ir_blaster/yas_209/yas_209_volume_mute.yaml
  entities/script/ir_blaster/yas_209/yas_209_volume_up.yaml
Labels: bot:keep-updated, minor, ha:scripts, chore

#752 Add `media_player.topaz_sr10`
  entities/automation/media_player/topaz_sr10/off.yaml
  entities/automation/media_player/topaz_sr10/on.yaml
  entities/automation/switch/office_amp/auto_turn_off.yaml
  entities/automation/switch/office_amp/auto_turn_on.yaml
  entities/input_boolean/topaz_sr10/topaz_sr10_is_volume_muted.yaml
  entities/input_number/topaz_sr10/topaz_sr10_volume_level.yaml
  entities/input_select/topaz_sr10_source.yaml
  entities/media_player/topaz_sr10.yaml
  entities/script/ir_blaster/ir_blaster_issue_command.yaml
  entities/script/ir_blaster/topaz_sr10/ir_blaster_topaz_sr10_issue_command.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_am.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_aux.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_cd.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_dvd.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_fm.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_set_source_phono.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_volume_down.yaml
  entities/script/ir_blaster/topaz_sr10/topaz_sr10_volume_up.yaml
  entities/script/media_player/topaz_sr10/topaz_sr10_turn_off.yaml
  entities/script/media_player/topaz_sr10/topaz_sr10_volume_set.yaml
  entities/template/sensor/topaz_sr10/topaz_sr10_active_child.yaml
Labels: bot:keep-updated, minor, ha:automations, ha:input-boolean, ha:input-number, ha:input-select, ha:media-player, ha:scripts, ha:template, refactor

#757 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#764 Bump Home Assistant version to `2024.1.5`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#765 Add sensors for count of active automations/scripts
  entities/template/sensor/entity_counts/count_active_automations.yaml
  entities/template/sensor/entity_counts/count_active_scripts.yaml
  entities/template/sensor/entity_counts/count_automations.yaml
  entities/template/sensor/entity_counts/count_scripts.yaml
Labels: enhancement, bot:keep-updated, minor, ha:template

#766 Refactor (correct) automation alias casing (to kebab-case)
  entities/automation/binary_sensor/front_door/open.yaml
  entities/automation/hassio/auto_restart_mariadb_add_on.yaml
  entities/automation/hassio/auto_restart_silicon_labs_multiprotocol_add_on.yaml
  entities/automation/homeassistant/load_gh_cli_on_start.yaml
  entities/automation/notification/system/reload_required/send.yaml
  entities/automation/notification/system/restart_required/send.yaml
  entities/automation/person/vic/toggle_adguard.yaml
  entities/automation/switch/bedroom_scent_plug/turn_off_after_an_hour.yaml
  entities/automation/switch/bedroom_scent_plug/turn_off_when_window_opened.yaml
  entities/automation/switch/christmas_tree/turn_on.yaml
  entities/automation/switch/lounge_scent_plug/turn_off_after_an_hour.yaml
  entities/automation/switch/lounge_scent_plug/turn_off_when_window_opened.yaml
  entities/automation/tag/cosmo/return_to_base.yaml
  entities/automation/webhook/get_latest_appdaemon_release.yaml
  entities/automation/webhook/git_branch_or_tag_created.yaml
  entities/automation/webhook/update_pull_request_sensor.yaml
Labels: bot:keep-updated, patch, ha:automations, refactor

#767 Add timeout to Topaz SR10
  entities/automation/media_player/topaz_sr10/timeout.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#768 Add target temp checks to `switch.prusa_i3_mk3_power` `turn_off` service
  entities/switch/prusa_i3_mk3_power.yaml
Labels: bot:keep-updated, patch, ha:switch, refactor

#769 Update Topaz SR10 timeout to check for active use, not just connection
  entities/automation/media_player/topaz_sr10/timeout.yaml
Labels: bot:keep-updated, ha:automations, refactor

#770 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#774 Fix Prusa turn off condition
  entities/switch/prusa_i3_mk3_power.yaml
Labels: bug, bot:keep-updated, ha:switch

#773 Allow for multiple Prusa "offline" states
  entities/switch/prusa_i3_mk3_power.yaml
Labels: bug, bot:keep-updated, ha:switch
