Repository worgarside/home-assistant, pull requests merged in 2024-07, with the labels that each got.

#1147 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1149 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1153 Add script selector validation in HACV
  .pre-commit-config.yaml
  config_validator.yml
  entities/script/cosmo/cosmo_clean_room.yaml
  entities/script/cosmo/cosmo_get_room_id_or_name.yaml
  entities/script/cosmo/cosmo_send_clean_requests.yaml
  entities/script/cosmo/cosmo_set_cleaning_sequence.yaml
  entities/script/cosmo/cosmo_tag_scanned.yaml
  entities/script/debug_persistent_notification.yaml
  entities/script/functions/log_exception.yaml
  entities/script/functions/run_dynamic_script.yaml
  entities/script/input_select/target_git_branch/target_git_branch_set_options.yaml
  entities/script/ir_blaster/topaz_sr10/ir_blaster_topaz_sr10_issue_command.yaml
  entities/script/media_player/topaz_sr10/topaz_sr10_volume_set.yaml
  entities/script/office_desk_sitting_mode.yaml
  entities/script/office_desk_standing_mode.yaml
  entities/script/system/script_response_debugger.yaml
  entities/script/turn_off_physical_room.yaml
  integrations/README.md
Labels: bot:keep-updated, ha:scripts, documentation, refactor

#1172 Bump Home Assistant version to `2024.7.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1156 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1174 Bump Home Assistant version to `2024.7.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1177 Fix heavy rainfall breaking upper bound in MtrxPi automation
  entities/automation/mtrxpi/content_trigger/raining_grid.yaml
  entities/input_number/mtrxpi/mtrxpi_raining_grid_maximum_rain_intensity.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, minor, ha:automations, ha:input-number, documentation

#1176 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1188 Stop recording invalid FlmtPi temp/rhum values
  entities/mqtt/sensor/flmtpi/ambient_humidity.yaml
  entities/mqtt/sensor/flmtpi/ambient_temperature.yaml
Labels: bug, bot:keep-updated, minor, ha:mqtt

#1185 Add MQTT switch for FlmtPi dehumidifier control
  entities/mqtt/switch/flmtpi/dehumidifier.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:mqtt, documentation

#1184 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1195 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1198 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1200 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1201 Add ESPHome config for Dry Box Dehumidifier controller
  entities/mqtt/sensor/flmtpi/active_git_ref.yaml
  entities/mqtt/sensor/flmtpi/ambient_humidity.yaml
  entities/mqtt/sensor/flmtpi/ambient_temperature.yaml
  entities/mqtt/sensor/flmtpi/average_load_15_min.yaml
  entities/mqtt/sensor/flmtpi/average_load_1_min.yaml
  entities/mqtt/sensor/flmtpi/average_load_5_min.yaml
  entities/mqtt/sensor/flmtpi/boot_time.yaml
  entities/mqtt/sensor/flmtpi/cpu_temperature.yaml
  entities/mqtt/sensor/flmtpi/cpu_usage.yaml
  entities/mqtt/sensor/flmtpi/disk_usage.yaml
  entities/mqtt/sensor/flmtpi/local_git_ref.yaml
  entities/mqtt/sensor/flmtpi/local_ip_address.yaml
  entities/mqtt/sensor/flmtpi/memory_usage.yaml
  entities/mqtt/sensor/flmtpi/uptime.yaml
  entities/mqtt/switch/flmtpi/dehumidifier.yaml
  entities/template/binary_sensor/raspberry_pi_online/flmtpi_online.yaml
  esphome/esp32-filament-dry-box.yaml
  integrations/README.md
  lovelace/decluttering_templates.yaml
Labels: enhancement, bot:keep-updated, minor, ha:lovelace, ha:mqtt, ha:template, documentation

#1209 Add "real"(?) defaults for `script.cosmo_clean_room`
  entities/script/cosmo/cosmo_clean_room.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:scripts, documentation

#1157 Add notification for completing 3D prints
  entities/automation/notification/prusa_i3/print_completed.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1220 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1222 Fix invalid automation YAML
  entities/automation/hue_remote/bedroom/button_1/long_press.yaml
Labels: bug, bot:keep-updated, ha:automations

#1223 Add automations to control dry box dehumidifier
  entities/automation/switch/dry_box_dehumidifier/timeout.yaml
  entities/automation/switch/dry_box_dehumidifier/turn_on.yaml
  entities/input_number/dry_box/dry_box_max_humidity.yaml
  entities/input_number/timeout/dry_box_dehumidifier_timeout.yaml
  integrations/README.md
Labels: enhancement, minor, ha:automations, ha:input-number, documentation

#1228 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1229 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1230 Add `shell_command.ssh` for general use
  entities/shell_command/ssh.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, documentation, ha:shell-command

#1236 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1227 Add source list to `media_player.hifi_system`
  entities/automation/remote/coffee_table/double_press.yaml
  entities/automation/remote/coffee_table/hold.yaml
  entities/automation/remote/coffee_table/single_press.yaml
  entities/media_player/hifi_system.yaml
  entities/template/binary_sensor/hifi_system_is_volume_muted.yaml
  entities/template/sensor/hifi_system_media_metadata.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:media-player, ha:template, documentation

#1231 Add `script.ssh`
  entities/script/ssh.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:scripts, documentation

#1237 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1239 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1242 Add sensor for pending Habitica daily tasks
  .pre-commit-config.yaml
  entities/automation/habitica/brush_teeth.yaml
  entities/template/sensor/habitica/habitica_vic_pending_dailys.yaml
  entities/template/sensor/habitica/habitica_will_pending_dailys.yaml
  integrations/README.md
  secrets.fake.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:template, documentation

#1243 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1246 Add defaults for local Pi IPs
  entities/mqtt/sensor/crtpi/local_ip_address.yaml
  entities/mqtt/sensor/growpi/local_ip_address.yaml
  entities/mqtt/sensor/mtrxpi/local_ip_address.yaml
  entities/mqtt/sensor/octopi/local_ip_address.yaml
  entities/mqtt/sensor/rtropi/local_ip_address.yaml
  entities/mqtt/sensor/vsmppi/local_ip_address.yaml
Labels: bug, bot:keep-updated, ha:mqtt

#1244 Add MQTT select for Sorter algorithms
  entities/mqtt/number/mtrxpi/sorter/completion_display_time.yaml
  entities/mqtt/number/mtrxpi/sorter/iterations.yaml
  entities/mqtt/select/mtrxpi/sorter/algorithm.yaml
  entities/mqtt/switch/mtrxpi/sorter/randomize_algorithm.yaml
  entities/script/mtrxpi/mtrxpi_queue_content.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:mqtt, ha:scripts, documentation

#1245 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1249 Update CRT Pi MQTT entities
  entities/automation/crt_pi/crt_power_state_from_crt_pi.yaml
  entities/automation/crt_pi/crt_power_state_from_ha.yaml
  entities/automation/crt_pi/fan_control.yaml
  entities/automation/crt_pi/force_update_mini_crt_power_state.yaml
  entities/automation/crt_pi/mqtt_sync_mini_crt_fan.yaml
  entities/automation/crtpi/cpu_fan_control.yaml
  entities/automation/crtpi/display_source_changed.yaml
  entities/automation/crtpi/update_display.yaml
  entities/input_number/crtpi_fan_auto_on_threshold.yaml
  entities/mqtt/sensor/crt_tv/internal_humidity.yaml
  entities/mqtt/sensor/crtpi/active_git_ref.yaml
  entities/mqtt/sensor/crtpi/ambient_humidity.yaml
  entities/mqtt/sensor/crtpi/ambient_temperature.yaml
  entities/mqtt/sensor/crtpi/average_load_15_min.yaml
  entities/mqtt/sensor/crtpi/average_load_1_min.yaml
  entities/mqtt/sensor/crtpi/average_load_5_min.yaml
  entities/mqtt/sensor/crtpi/boot_time.yaml
  entities/mqtt/sensor/crtpi/cpu_temperature.yaml
  entities/mqtt/sensor/crtpi/cpu_usage.yaml
  entities/mqtt/sensor/crtpi/disk_usage.yaml
  entities/mqtt/sensor/crtpi/local_git_ref.yaml
  entities/mqtt/sensor/crtpi/local_ip_address.yaml
  entities/mqtt/sensor/crtpi/memory_usage.yaml
  entities/mqtt/sensor/crtpi/uptime.yaml
  entities/mqtt/switch/crtpi/cpu_fan.yaml
  entities/mqtt/switch/crtpi/crt_tv_power.yaml
  entities/mqtt/switch/octopi/cpu_fan.yaml
  entities/mqtt/switch/prusa_i3/enclosure_fan.yaml
  entities/script/crt_pi_update_display.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-number, ha:mqtt, ha:scripts, documentation

#1250 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1252 Fix bad Git branch behaviour
  entities/script/input_select/target_git_branch/target_git_branch_set_options.yaml
Labels: bug, bot:keep-updated, ha:scripts

#1263 Update CPU automation to account for threshold changes
  entities/automation/crtpi/cpu_fan_control.yaml
  entities/automation/octopi/cpu_fan_control.yaml
Labels: bug, bot:keep-updated, ha:automations

#1251 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, skip-changelog, tools, ha:lovelace, chore

#1265 Add JSON attributes to DHT22 sensors
  entities/mqtt/sensor/crtpi/ambient_humidity.yaml
  entities/mqtt/sensor/crtpi/ambient_temperature.yaml
  entities/mqtt/sensor/octopi/ambient_humidity.yaml
  entities/mqtt/sensor/octopi/ambient_temperature.yaml
Labels: enhancement, bot:keep-updated, patch, ha:mqtt

#1253 Update CRT Pi media MQTT updates
  entities/automation/crtpi/display_source_changed.yaml
  entities/automation/crtpi/update_display.yaml
  entities/automation/script/crt_pi_update_display/mqtt_trigger.yaml
  entities/input_select/crt_pi_display_source.yaml
  entities/input_select/crtpi/crtpi_media_player_source.yaml
  entities/script/crt_pi_update_display.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-select, ha:scripts, documentation

#1267 Bump Home Assistant version to `2024.7.4`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore
