Repository worgarside/home-assistant, pull requests merged in 2025-03, with the labels that each got.

#1863 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1890 Update `db_url` secret name
  integrations/recorder.yaml
  secrets.fake.yaml
Labels: bot:keep-updated, patch, chore

#1898 Update GH CLI package for new machine
  resources/shell_command/gh_cli/get_gh_cli.sh
Labels: bug, bot:keep-updated

#1896 Update Plex host
  entities/sensor/plex_recently_added.yaml
  secrets.fake.yaml
Labels: bot:keep-updated, patch, ha:sensors, chore

#1900 Remove unused automation
  entities/automation/person/vic/toggle_adguard.yaml
  integrations/README.md
Labels: bot:keep-updated, minor, ha:automations, chore, documentation

#1899 Update InfluxDB host
  integrations/influxdb.yaml
  secrets.fake.yaml
Labels: bot:keep-updated, patch, chore

#1904 Remove deprecated addon sensors
  dev_tools/color_generator.py
  entities/automation/homeassistant/handle_service_reload.yaml
  entities/command_line/sensor/addons/adguard_status.yaml
  entities/command_line/sensor/addons/flare_solverr_status.yaml
  entities/command_line/sensor/addons/google_drive_backup_add_on_status.yaml
  entities/command_line/sensor/addons/grafana_status.yaml
  entities/command_line/sensor/addons/influxdb_status.yaml
  entities/command_line/sensor/addons/mariadb_status.yaml
  entities/command_line/sensor/addons/matter_server_status.yaml
  entities/command_line/sensor/addons/mosquitto_broker_status.yaml
  entities/command_line/sensor/addons/nextcloud_status.yaml
  entities/command_line/sensor/addons/nginx_proxy_manager_status.yaml
  entities/command_line/sensor/addons/plex_media_server_status.yaml
  entities/command_line/sensor/addons/portainer_status.yaml
  entities/command_line/sensor/addons/prowlarr_status.yaml
  entities/command_line/sensor/addons/silicon_labs_multiprotocol_add_on_status.yaml
  entities/command_line/sensor/addons/sonarr_status.yaml
  entities/command_line/sensor/addons/transmission_status.yaml
  entities/command_line/sensor/addons/zigbee2mqtt_status.yaml
  entities/template/sensor/addon_stats/adguard_cpu_usage.yaml
  entities/template/sensor/addon_stats/adguard_memory_usage.yaml
  entities/template/sensor/addon_stats/flaresolverr_cpu_usage.yaml
  entities/template/sensor/addon_stats/flaresolverr_memory_usage.yaml
  entities/template/sensor/addon_stats/google_drive_backup_add_on_cpu_usage.yaml
  entities/template/sensor/addon_stats/google_drive_backup_add_on_memory_usage.yaml
  entities/template/sensor/addon_stats/grafana_cpu_usage.yaml
  entities/template/sensor/addon_stats/grafana_memory_usage.yaml
  entities/template/sensor/addon_stats/influxdb_cpu_usage.yaml
  entities/template/sensor/addon_stats/influxdb_memory_usage.yaml
  entities/template/sensor/addon_stats/mariadb_cpu_usage.yaml
  entities/template/sensor/addon_stats/mariadb_memory_usage.yaml
  entities/template/sensor/addon_stats/matter_server_cpu_usage.yaml
  entities/template/sensor/addon_stats/matter_server_memory_usage.yaml
  entities/template/sensor/addon_stats/mosquitto_broker_cpu_usage.yaml
  entities/template/sensor/addon_stats/mosquitto_broker_memory_usage.yaml
  entities/template/sensor/addon_stats/nextcloud_cpu_usage.yaml
  entities/template/sensor/addon_stats/nextcloud_memory_usage.yaml
  entities/template/sensor/addon_stats/nginx_proxy_manager_cpu_usage.yaml
  entities/template/sensor/addon_stats/nginx_proxy_manager_memory_usage.yaml
  entities/template/sensor/addon_stats/plex_media_server_cpu_usage.yaml
  entities/template/sensor/addon_stats/plex_media_server_memory_usage.yaml
  entities/template/sensor/addon_stats/portainer_cpu_usage.yaml
  entities/template/sensor/addon_stats/portainer_memory_usage.yaml
  entities/template/sensor/addon_stats/prowlarr_cpu_usage.yaml
  entities/template/sensor/addon_stats/prowlarr_memory_usage.yaml
  entities/template/sensor/addon_stats/silicon_labs_multiprotocol_add_on_cpu_usage.yaml
  entities/template/sensor/addon_stats/silicon_labs_multiprotocol_add_on_memory_usage.yaml
  entities/template/sensor/addon_stats/sonarr_cpu_usage.yaml
  entities/template/sensor/addon_stats/sonarr_memory_usage.yaml
  entities/template/sensor/addon_stats/transmission_cpu_usage.yaml
  entities/template/sensor/addon_stats/transmission_memory_usage.yaml
  entities/template/sensor/addon_stats/zigbee2mqtt_cpu_usage.yaml
  entities/template/sensor/addon_stats/zigbee2mqtt_memory_usage.yaml
  integrations/README.md
  secrets.fake.yaml
Labels: python, minor, ha:automations, ha:template, chore, documentation, ha:command-line

#1905 Bump Home Assistant version to `2025.3.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1908 Update InfluxDB integration to V2
  integrations/influxdb.yaml
  secrets.fake.yaml
Labels: bot:keep-updated, patch, refactor

#1918 Fix SSL value for InfluxDB config
  integrations/influxdb.yaml
Labels: bug, bot:keep-updated

#1919 Fix notify UUID
  entities/script/notify_will.yaml
Labels: bug, bot:keep-updated, ha:scripts

#1920 Add CPU temp sensor for Companion Cube
  entities/command_line/sensor/pve/companion_cube_cpu_temperature.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, documentation, ha:command-line

#1928 Bump Home Assistant version to `2025.3.4`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore
