Repository worgarside/home-assistant, pull requests merged in 2025-02, with the labels that each got.

#1843 Bump Home Assistant version to `2025.2.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1847 Bump Home Assistant version to `2025.2.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1854 Bump Home Assistant version to `2025.2.4`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1856 Add `plex_recently_added` to CI
  .github/workflows/validate_home_assistant_config.yml
Labels: sync, bot:keep-updated, github-actions

#1855 Turn air freshener on for high AQI values
  entities/automation/switch/air_freshener/turn_on.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1859 Reload Speedtest when integration fails
  entities/automation/homeassistant/integrations/speedtest/reload.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1862 Bump Home Assistant version to `2025.2.5`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore
