Repository worgarside/home-assistant, pull requests merged in 2025-10, with the labels that each got.

#2202 Bump Home Assistant version to `2025.10.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#2151 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#2225 Set fan direction after speed
  entities/automation/fan/will_s_office_fan/control.yaml
  entities/input_number/threshold/will_s_office_fan/will_s_office_fan_pm2_5_threshold.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, ha:input-number, documentation

#2236 Add alert for roof door open in rain
  entities/automation/notification/rain_door_open_alert.yaml
  entities/script/notify_vic.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:scripts, documentation

#2233 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace_dashboards.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#2248 Nanoleaf bedroom sunrise
  .cursor/rules/home-assistant-automation-syntax.mdc
  entities/automation/input_datetime/next_bedroom_sunrise/sunrise_start.yaml
  entities/automation/light/bedroom_shapes/bon_appetit.yaml
  entities/automation/mobile_app/notification_action/bedroom_sunrise_delay.yaml
  entities/automation/mobile_app/notification_action/bedroom_sunrise_stop.yaml
  entities/input_datetime/next_bedroom_sunrise.yaml
  entities/script/reset_next_bedroom_sunrise.yaml
  entities/script/send_bedroom_sunrise_notification.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, ha:input-datetime, ha:scripts, documentation

#2249 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#2251 PLT-1B Last Online Sensors
  entities/template_triggered/sensor/apollo/apollo_plt_1b_begonia_last_online.yaml
  entities/template_triggered/sensor/apollo/apollo_plt_1b_coleus_last_online.yaml
  entities/template_triggered/sensor/apollo/apollo_plt_1b_monstera_last_online.yaml
  entities/template_triggered/sensor/apollo/apollo_plt_1b_spider_plant_last_online.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, documentation
