Repository worgarside/home-assistant, pull requests merged in 2025-07, with the labels that each got.

#2001 Bump Home Assistant version to `2025.7.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#2006 Bump Home Assistant version to `2025.7.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1922 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
  lovelace/dashboards/ui_only/lovelace.mobile_dashboard.json
  lovelace/dashboards/ui_only/lovelace.nginx_proxy_managet.json
  lovelace/dashboards/ui_only/lovelace_dashboards.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#2027 Remove old disco ball automations
  entities/automation/light/disco_light/turn_off.yaml
  entities/automation/light/disco_light/turn_on.yaml
  entities/automation/light/lounge_lights/stop_tv_reflections.yaml
  integrations/README.md
Labels: enhancement, minor, ha:automations, documentation

#2028 Improves office light toggle functionality
  entities/automation/remote/will_s_desk/button_1/single.yaml
Labels: enhancement, patch, ha:automations

#2031 Silence reload automation
  entities/automation/homeassistant/handle_service_reload.yaml
Labels: bot:keep-updated, minor, ha:automations, chore

#2033 Update front door automation
  .cursor/rules/home-assistant.mdc
  entities/automation/binary_sensor/front_door/open.yaml
  entities/automation/light/upper_landing_lights/timeout.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#2034 Refines Cosmo automation logic
  entities/automation/binary_sensor/kitchen_presence/off.yaml
  entities/automation/binary_sensor/kitchen_presence/on.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, documentation

#2037 Bump Home Assistant version to `2025.7.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#2055 Adds auto-off for wardrobe lights
  entities/automation/light/wardrobe_lights/auto_off.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#2050 Update basement presence sensing & lighting
  .cursor/rules/home-assistant-syntax-cheatsheet.mdc
  .cursor/rules/lighting-modifier.mdc
  entities/automation/binary_sensor/basement_presence/off.yaml
  entities/automation/binary_sensor/basement_presence/on.yaml
  entities/automation/binary_sensor/kitchen_presence/off.yaml
  entities/automation/binary_sensor/kitchen_presence/on.yaml
  entities/automation/remote/coffee_table/single.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#2061 Fix Cosmo auto-pause condition
  entities/automation/binary_sensor/basement_presence/on.yaml
Labels: bug, bot:keep-updated, ha:automations

#2062 Fix false positive 3d printer notifications
  entities/automation/notification/prusa_i3/user_input_required.yaml
Labels: bug, bot:keep-updated, ha:automations

#2064 Adds automation to reboot office shapes on unavailable
  entities/automation/light/will_s_office_shapes/reboot_on_unavailable.yaml
  integrations/README.md
Labels: enhancement, minor, ha:automations, documentation

#2067 Fix `basement_occupancy` refs
  entities/automation/cosmo/nightly_kitchen_clean.yaml
  entities/automation/fan/kitchen_extractor_vent/control.yaml
Labels: bug, bot:keep-updated, ha:automations
