Repository worgarside/home-assistant, pull requests merged in 2025-01, with the labels that each got.

#1772 Bump Home Assistant version to `2025.1.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1775 Add air purifier control automation
  entities/automation/fan/air_purifier/control.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#1778 Bump Home Assistant version to `2025.1.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1776 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1781 Add template sensor for Air Purifier fan speed
  entities/template/sensor/air_purifier_fan_speed.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:template, documentation

#1782 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1783 Reduce Purifier delay
  entities/automation/fan/air_purifier/control.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#1789 Bump Home Assistant version to `2025.1.2`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#1790 Add air purifier quiet mode and update fan speed control
  entities/automation/fan/air_purifier/control.yaml
  entities/automation/input_boolean/air_purifier_quiet_mode/state_change.yaml
  entities/automation/input_boolean/air_purifier_quiet_mode/toggle.yaml
  entities/input_boolean/air_purifier/air_purifier_quiet_mode.yaml
  entities/script/fan/air_purifier/air_purifier_update_fan_speed.yaml
  integrations/README.md
Labels: bot:keep-updated, ha:automations, ha:input-boolean, ha:scripts, documentation, refactor

#1788 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#1794 Only update Air Purifier fan speed when required
  entities/automation/input_boolean/air_purifier_quiet_mode/toggle.yaml
  entities/script/fan/air_purifier/air_purifier_update_fan_speed.yaml
  integrations/README.md
Labels: bug, bot:keep-updated, ha:automations, ha:scripts, documentation

#1815 Migrate final Hue lights to Z2M
  entities/automation/hue_remote/bedroom/button_1/long_press.yaml
  entities/automation/hue_remote/bedroom/button_1/press.yaml
  entities/automation/hue_remote/bedroom/button_2/long_press.yaml
  entities/automation/hue_remote/bedroom/button_2/press.yaml
  entities/automation/hue_remote/bedroom/button_3/long_press.yaml
  entities/automation/hue_remote/bedroom/button_3/press.yaml
  entities/automation/hue_remote/bedroom/button_4/long_press.yaml
  entities/automation/hue_remote/bedroom/button_4/press.yaml
  entities/automation/hue_remote/lounge/button_1/press.yaml
  entities/automation/hue_remote/lounge/button_4/long_press.yaml
  entities/automation/hue_remote/lounge/button_4/press.yaml
  entities/automation/remote/bedroom_hue_remote/down_press.yaml
  entities/automation/remote/bedroom_hue_remote/off_hold.yaml
  entities/automation/remote/bedroom_hue_remote/off_press.yaml
  entities/automation/remote/bedroom_hue_remote/on_hold.yaml
  entities/automation/remote/bedroom_hue_remote/on_press.yaml
  entities/automation/remote/bedroom_hue_remote/up_press.yaml
  entities/automation/remote/lounge_hue_remote/down_press.yaml
  entities/automation/remote/lounge_hue_remote/off_hold.yaml
  entities/automation/remote/lounge_hue_remote/off_press.yaml
  entities/automation/remote/lounge_hue_remote/on_hold.yaml
  entities/automation/remote/lounge_hue_remote/on_press.yaml
  entities/automation/remote/lounge_hue_remote/up_press.yaml
  entities/automation/remote/office_hue_remote/down_press.yaml
  entities/automation/remote/office_hue_remote/on_hold.yaml
  entities/automation/remote/office_hue_remote/up_press.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, patch, ha:automations, documentation
