Repository worgarside/home-assistant, pull requests merged in 2025-08, with the labels that each got.

#2086 Controls voice assistant LED based on presence
  .cursor/rules/lighting-modifier.mdc
  entities/automation/binary_sensor/will_s_office_presence_sensor/state_change.yaml
Labels: enhancement, bot:keep-updated, minor, ha:automations

#2088 Bump Home Assistant version to `2025.8.0`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#2091 Adds Vic's office state management
  entities/automation/binary_sensor/vic_s_office_occupancy/state_change.yaml
  entities/automation/binary_sensor/will_s_office_presence_sensor/state_change.yaml
  entities/automation/fan/desk_fan/state_change.yaml
  entities/automation/light/desk_lamp/state_change.yaml
  entities/automation/light/lower_hallway_lights/on.yaml
  entities/automation/light/lower_hallway_lights/timeout.yaml
  entities/automation/light/office_shapes/state_change.yaml
  entities/automation/var/vic_s_office_state_manager/attribute_timeout.yaml
  entities/automation/var/will_s_office_state_manager/attribute_timeout.yaml
  entities/var/vic_s_office_state_manager.yaml
  entities/var/will_s_office_state_manager.yaml
  integrations/README.md
Labels: enhancement, minor, ha:automations, ha:variables, documentation

#2090 Notify Will on camera offline
  entities/automation/camera/offline_notify_will.yaml
  integrations/README.md
Labels: minor, ha:automations, documentation

#2101 Remove old nest hub
  entities/automation/person/will/leaving_work.yaml
Labels: bug, ha:automations

#2103 Turn on Shell Lamp when Vic's office occupied
  entities/automation/binary_sensor/vic_s_office_occupancy/on.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#2106 Bump Home Assistant version to `2025.8.1`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#2111 Fix turn off script
  entities/script/turn_off_physical_room.yaml
  integrations/README.md
Labels: bug, ha:scripts, documentation

#2113 Enables manual workflow triggering Adds the ability to manually trigger the workflow. This allows for on-demand execution, providing flexibility outside of the configured branch-based triggers.
  .github/workflows/auto_create_pr.yml
Labels: sync, bot:keep-updated, github-actions

#2116 Add automation to flash LED ring red when office door opens
  entities/automation/light/will_s_office_voice_assistant_led_ring/door_open_flash.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#2114 Add time condition to lounge occupancy automation
  entities/automation/binary_sensor/lounge_occupancy/on.yaml
Labels: enhancement, bot:keep-updated, patch, ha:automations

#2122 Adds purple color to office LED ring
  entities/automation/binary_sensor/will_s_office_presence_sensor/state_change.yaml
Labels: bug, ha:automations

#2123 Adjusts kitchen lighting based on time
  entities/automation/binary_sensor/basement_presence/on.yaml
  integrations/README.md
Labels: bot:keep-updated, patch, ha:automations, documentation, refactor

#2130 Add 5s delay for kitchen light dimming
  .cursor/rules/home-assistant-parallel-sequence-structure.mdc
  entities/automation/binary_sensor/basement_presence/on.yaml
  integrations/README.md
Labels: bot:keep-updated, patch, ha:automations, documentation, refactor

#2131 Lower limit for upper landing light
  entities/automation/light/upper_landing_lights/on.yaml
  integrations/README.md
Labels: bot:keep-updated, patch, ha:automations, documentation, refactor

#2132 Update UI Lovelace Dashboard Files
  lovelace/dashboards/ui_only/lovelace.home_will.json
Labels: bot:keep-updated, non-functional, tools, ha:lovelace, chore

#2135 Updates office desk connect button
  entities/automation/cover/office_desk/keepalive.yaml
Labels: bug, ha:automations

#2134 Silence automations with `mode: single`
  entities/automation/automation/auto_reload_complete.yaml
  entities/automation/binary_sensor/basement_presence/off.yaml
  entities/automation/binary_sensor/front_door/open.yaml
  entities/automation/binary_sensor/lounge_occupancy/room_timeout.yaml
  entities/automation/binary_sensor/quiet_hours/off.yaml
  entities/automation/binary_sensor/quiet_hours/on.yaml
  entities/automation/binary_sensor/vic_s_office_occupancy/on.yaml
  entities/automation/camera/offline_notify_will.yaml
  entities/automation/cosmo/nightly_kitchen_clean.yaml
  entities/automation/cover/office_desk/work_mode.yaml
  entities/automation/cover/will_s_office_blinds/auto_close.yaml
  entities/automation/diffuser/lounge/timeout.yaml
  entities/automation/fan/desk_fan/state_change.yaml
  entities/automation/fan/prusa_i3_enclosure_fan/turn_on.yaml
  entities/automation/homeassistant/clear_service_reload_queue_on_start.yaml
  entities/automation/homeassistant/load_gh_cli_on_start.yaml
  entities/automation/input_boolean/air_purifier_quiet_mode/state_change.yaml
  entities/automation/input_boolean/air_purifier_quiet_mode/toggle.yaml
  entities/automation/input_datetime/home_assistant_start_time/set_datetime.yaml
  entities/automation/light/desk_lamp/state_change.yaml
  entities/automation/light/lower_hallway_lights/timeout.yaml
  entities/automation/light/moomin_box/on.yaml
  entities/automation/light/office_shapes/state_change.yaml
  entities/automation/light/upper_landing_lights/timeout.yaml
  entities/automation/light/wardrobe_lights/auto_off.yaml
  entities/automation/light/will_s_office_shapes/reboot_on_unavailable.yaml
  entities/automation/light/will_s_office_voice_assistant_led_ring/door_open_flash.yaml
  entities/automation/media_player/topaz_sr10/on.yaml
  entities/automation/person/will/home.yaml
  entities/automation/person/will/leaving_work.yaml
  entities/automation/prusa_i3/bed/timeout.yaml
  entities/automation/prusa_i3/hotend/timeout.yaml
  entities/automation/remote/coffee_table/double.yaml
  entities/automation/remote/coffee_table/hold.yaml
  entities/automation/remote/coffee_table/single.yaml
  entities/automation/remote/will_s_desk/button_1/double.yaml
  entities/automation/remote/will_s_desk/button_1/single.yaml
  entities/automation/remote/will_s_desk/button_2/double.yaml
  entities/automation/remote/will_s_desk/button_2/single.yaml
  entities/automation/sensor/storage_cc_ssd_transient_qbt_disk_used_percentage_notify_and_clear.yaml
  entities/automation/switch/air_freshener/timeout.yaml
  entities/automation/switch/air_freshener/turn_on.yaml
  entities/automation/switch/charging_hub/turn_off.yaml
  entities/automation/switch/christmas_tree/turn_on.yaml
  entities/automation/switch/dry_box_dehumidifier/timeout.yaml
  entities/automation/switch/dry_box_dehumidifier/turn_on.yaml
  entities/automation/switch/lounge_diffuser/state_change.yaml
  entities/automation/switch/prusa_i3_mk3_power/off.yaml
  entities/automation/switch/prusa_i3_mk3_power/timeout.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, patch, ha:automations, documentation

#2125 Adds low battery alert for critical devices
  entities/automation/label/critical_battery/low_battery_alert.yaml
  integrations/README.md
Labels: enhancement, bot:keep-updated, minor, ha:automations, documentation

#2149 Bump Home Assistant version to `2025.8.3`
  .HA_VERSION
Labels: bot:keep-updated, non-functional, tools, chore

#2153 Ensure diffuser light mode is set before changing color
  entities/automation/diffuser/lounge/set_color.yaml
Labels: bot:keep-updated, patch, ha:automations, refactor
